﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model SampleOrdersTrackingSystem.Models.SampleOrders
@using Kendo.Mvc.UI

<style>
    /* .floatRight {
        float: right;
    }*/
    .divspace {
        display: flex;
        justify-content: space-between;
    }
    .form-group.required .control-label:before {
        color: red;
        content: "*";
        position: absolute;
        margin-left: -15px;
    }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.all.min.js"></script>

<script type="text/javascript">
    function Validate() {
        $('#lblerrormessage').text("");
        var salesrepid = $("#ddlsalesrep").val();
        var DriverId = $("#DriverId").val();
        var TxnDate = $("#TxnDate").val();
        var ddlreason = $("#ddlreason").val();

        if (salesrepid == null || salesrepid == "" || salesrepid == '00000000-0000-0000-0000-000000000000') {
            document.getElementById('errormessage').style.display = "block";
            $('#lblerrormessage').text("Please select Sales rep.");
            document.getElementById('ddlsalesrep');
            return false;
        }
        else if (DriverId == null || DriverId == "" || DriverId == '00000000-0000-0000-0000-000000000000') {
            document.getElementById('errormessage').style.display = "block";
            $('#lblerrormessage').text("Please select Driver.");
            document.getElementById('DriverId');
            return false;
        }
        else if (TxnDate == null || TxnDate == "" || TxnDate == 0) {
            document.getElementById('errormessage').style.display = "block";
            $('#lblerrormessage').text("Please select Planned Sample Date.");
            document.getElementById('TxnDate');
            return false;
        }
        //else if (ddlreason == null || ddlreason == "" || ddlreason == 0) {
        //    document.getElementById('errormessage').style.display = "block";
        //    $('#lblerrormessage').text("Please select Reason for sample.");
        //    document.getElementById('ddlreason');
        //    return false;
        //}
        else {
            return true;
        }
    }
</script>

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Sample Request</h3>
        <div class="card-tools">
            @if (@Model.Status == 1)
            {<b>Status: New Request</b> } 

            @*<button type="button" class="btn btn-outline-info btn-block btn-flat" onclick="location.href='@Url.Action("SampleOrders", "SampleOrders")'">
                    <i class="fad fa-inventory" aria-hidden="true"></i> Update Inventory
                </button>*@
        </div>
    </div>
    <form id="samplehdrdata">
        <div class="card-body">
            <div class="hide">
                <input type="hidden" asp-for="@Model.InsertAgent" value="@HttpContextAccessor.HttpContext.Session.GetString("Uname")" />
                <input name="Id" type="hidden" asp-for="@Model.Id" />
                <input name="ClientId" type="hidden" asp-for="@Model.ClientId" />
                <input name="Status" type="hidden" asp-for="@Model.Status" />
                <input name="RequestNo" type="hidden" asp-for="@Model.RequestNo" />
                <input name="ddlbranch" type="hidden" asp-for="@Model.SalesorderTypeID" />
            </div>
            @*<div id="errormessage" style="display:none">
                    <center><p style="font-weight:bold;color:red;"><label id="lblerrormessage"></label></p> </center>
                </div>*@
            <div class="form-row">
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="lblRequestNo1" class="">Request No</label>
                        <input name="RequestNo1" id="RequestNo1" type="text" disabled class="form-control" asp-for="@Model.RequestNo" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="position-relative form-group required">
                        <label for="lblsalesrep" class="control-label">Sales Rep</label>
                        <select asp-for="@Model.SalesRepID" class="form-control" id="ddlsalesrep"
                                asp-items="@(new SelectList(ViewBag.salesrepcombolist,"Id","Name"))"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="position-relative form-group required">
                        <label for="lblDriverId" class="control-label">Driver</label>
                        <select asp-for="@Model.DriverId" class="form-control" id="DriverId" name="DriverId"
                                asp-items="@(new SelectList(ViewBag.drivercombolist,"DriverId","DriverName"))"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="position-relative form-group required">
                        <label for="TxnDate" class="control-label">Planned Sample Date</label>
                        <input name="TxnDate" id="TxnDate" placeholder="Select date" type="date" class="form-control" asp-for="@Model.TxnDate">
                    </div>
                </div>
            </div>
            <div class="form-row">

                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="lblAmount" class="">Reason for sampling</label>
                        <select asp-for="@Model.Reasonforsample" class="form-control" id="ddlreason"
                                asp-items="@(new SelectList(ViewBag.Resonelistcombo,"Value","Text"))"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- textarea -->
                    <div class="position-relative form-group">
                        <label for="lblcomment" class="">Comment</label>
                        <textarea id="Comments" class="form-control" rows="1" placeholder="Enter ..." asp-for="@Model.Comments"></textarea>
                    </div>
                </div>
            </div>

            <div id="errormessage" style="display:none">
                <center><p style="font-weight:bold;color:red;"><label id="lblerrormessage"></label></p> </center>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="card">
                        <div class="divspace" style="background-color:#3c8dbc">
                            @*<p class="text-white" style="margin-left:0.5em;margin-top:0.8em">Product Details</p>*@
                            @*<input id='filterproduct' class="form-control rounded" type="search" placeholder="Search" aria-label="Search" style="width: 15%">*@
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-product">
                                ADD Products
                            </button>
                        </div>
                        <table class="table table-hover text-nowrap">
                            @(Html.Kendo().Grid<SalesOrderRequestProduct>()
                        .Name("salesgrid")
                        .Columns(columns =>
                        {
                            columns.Command(command => { command.Destroy().Text("&nbsp;").IconClass("k-icon k-i-trash"); }).Width(80);
                            columns.Bound(p => p.ProductID).Hidden();
                            columns.Bound(p => p.PackageId).Hidden();
                            columns.Bound(p => p.Description).Width(250).Editable("notEditable").Locked(false);
                            columns.Bound(p => p.Quantity).Width(100).Title("Qty *");
                            columns.Bound(p => p.Rebate).Width(120).Title("Rebate *").Format("{0:#.## \\'%'}");
                            columns.Bound(p => p.SKU).Width(180).Editable("notEditable");
                            columns.Bound(p => p.AvaliableQty).Width(100).Title("QTA").Editable("notEditable");
                            columns.Bound(p => p.Bin).Width(180).Editable("notEditable").Hidden();
                            columns.Bound(p => p.ProductName).Hidden();
                            columns.Bound(p => p.PackageName).Width(180).Title("UOM").Editable("notEditable");
                            if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "ClientAdmin" ||
                             @HttpContextAccessor.HttpContext.Session.GetString("Role") == "Client")
                            {
                                columns.Bound(p => p.Cost).Title("Cost").Width(180).Editable("notEditable");
                                columns.Bound(p => p.DelivPrice).Width(180).Title("Price").Editable("notEditable");
                                columns.Bound(o => o.ActCost).Title("Cost")
                                .ClientTemplate("#=calcActCost(data)#").Width(120)
                                .Editable("notEditable");
                                columns.Bound(o => o.TOTAL)
                                .ClientTemplate("#=calcColumns(data)#").Width(180)
                                .Title("Amount")
                                .Editable("notEditable").Format("{0:C}")
                                .ClientFooterTemplate("Total: #=sum#");
                            }

                        })
                        .Editable(editable => editable.Mode(GridEditMode.InCell))
                        .Events(e => e.Save("onSave"))
                        //.Pageable(x => x.PageSizes(new List<object> { 10, 20, 100, 200, 500, "all" }))
                        .Pageable()
                        .Navigatable()
                        .Sortable()
                        .Groupable()
                        .Filterable()
                        .Scrollable(scrollable => scrollable.Height(400))
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Aggregates(aggregates =>
                        {
                            aggregates.Add(p => p.TOTAL).Sum();
                        })
                        .Batch(true)
                        .PageSize(10)
                        .ServerOperation(false)
                        .Events(events => events.Error("error_handler"))
                        .Model(model =>
                        {
                            model.Id(p => p.Id);
                            model.Field(p => p.Id).Editable(false);
                        })
                        .Read(read => read.Action("Sample_ProductEdit", "SampleOrders", new { Id = @ViewBag.sampleid }))
                        )
                        .Resizable(resize => resize.Columns(true))
                        )
                        </table>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="form-row">
                <div class="col-ms-4">
                    <div class="position-relative form-group">
                        <input id="save" class="btn btn-primary" value="Save Product" type="button" onclick="savedata()" />
                        @*<a asp-action="Index" method="post" class="btn btn-danger">Close</a>*@
                    </div>
                </div>
            </div>
            <!-- Customer Grid  -->
            <div class="form-row">
                <div class="col-12">
                    <div class="card">
                        <div class="" style="background-color:#3c8dbc">
                            @*class ="divspace"*@
                            @*<p class="text-white" style="margin-left:0.5em;margin-top:0.8em">Customer Details</p>*@
                            @*<input id='filtercustomer' class="form-control rounded" type="search" placeholder="Search" aria-label="Search" style="width:15%">*@
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-AssignedCustomer">
                                Assigned Customer
                            </button>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-Customer">
                                All Customer
                            </button>
                        </div>
                        <table class="table table-hover text-nowrap">
                            @(Html.Kendo().Grid<SalesOrderRequestCustomer>()
                        .Name("customergrid")
                        .Columns(columns =>
                        {
                            columns.Command(command => { command.Destroy().Text("&nbsp;").IconClass("k-icon k-i-trash"); }).Width(30);
                            columns.Bound(p => p.CustomerId).Hidden();
                            columns.Bound(p => p.ShipAddressId).Hidden();
                            columns.Bound(p => p.CustomerName).Width(120).Title("Customer").Editable("function(dataItem, additionalParam) { return otherFunction(dataItem, additionalParam); }");
                            columns.Bound(p => p.ShipAddress).Width(200).Title("Ship Address").Editable("function(dataItem, additionalParam) { return otherFunction(dataItem, additionalParam); }");
                        })
                        .Editable(editable => editable.Mode(GridEditMode.InCell))
                        .Pageable()
                         
                        .Navigatable()
                        .Sortable()
                        .Groupable()
                        .Filterable()
                        .Scrollable(scrollable => scrollable.Height(120))
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Batch(true)
                        .PageSize(10)
                        .ServerOperation(false)
                        .Events(events => events.Error("error_handler"))
                        .Model(model =>
                        {
                            model.Id(p => p.Id);
                            model.Field(p => p.Id).Editable(false);
                        })
                        .Read(read => read.Action("Sample_CustomerEdit", "SampleOrders", new { Id = @ViewBag.sampleid }))
                        )
                         .Resizable(resize => resize.Columns(true))
                        )
                        </table>
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div>

        <div class="card-footer">
            <input id="save1" class="btn btn-primary" value="Save" type="button" onclick="savedata()" />
            <a asp-action="Index" method="post" class="btn btn-danger">Close</a>
        </div>
    </form>
</div>

<!-- Product modal form  -->
<div class="modal fade" id="modal-product">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="height:100%;width:100%">
            <div class="modal-header">
                <h4 class="modal-title">Add Product(s) for Sample Request</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <table class="table table-hover text-nowrap">
                        @(Html.Kendo().Grid<SampleOrdersTrackingSystem.Models.ProductModel>()
                            .Name("modalproductgrid")
                            .Columns(columns => {
                                columns.Select().Width(50);
                                columns.Bound(p => p.ProductID).Hidden();
                                columns.Bound(p => p.PackageId).Hidden();
                                columns.Bound(p => p.Description).Width(200);
                                columns.Bound(p => p.Vendorname).Width(180).Title("Vendor");
                                columns.Bound(p => p.FullName).Width(240).Title("Full Name");
                                columns.Bound(p => p.SKU).Width(80);
                                columns.Bound(p => p.AvaliableQty).Width(100).Title("QTA");
                                columns.Bound(p => p.Bin).Width(80).Hidden();
                                columns.Bound(p => p.ProductName).Hidden();
                                columns.Bound(p => p.PackageName).Width(120).Title("UOM");
                                if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "ClientAdmin" ||
                                  @HttpContextAccessor.HttpContext.Session.GetString("Role") == "Client")
                                {
                                    columns.Bound(p => p.Cost).Title("Cost").Width(130);
                                }
                                columns.Bound(p => p.DelivPrice).Width(110).Title("Price");
                                columns.Bound(p => p.Rebate).Width(90).Hidden();
                                columns.Bound(p => p.Quantity).Width(80).Title("Qty").Hidden();
                                columns.Bound(p => p.TOTAL).Width(90).Hidden();

                            })
                              .Scrollable(s => s.Enabled(true).Height(300))
                              .Sortable()
                              .Filterable(filterable => filterable
                                    .Extra(true)
                                    .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains("Contains")
                                            .StartsWith("Starts with")
                                            .IsEqualTo("Is equal to")
                                            .IsNotEqualTo("Is not equal to")
                                            .DoesNotContain("Does not containe")
                                            .EndsWith("End with")
                                            .IsNull("Is null")
                                            .IsNotNull("Is not null")
                                        ))
                                    )
                             .Pageable(pager => pager
                                .Input(false)
                                .Numeric(true).ButtonCount(5)
                                .Info(true).Enabled(true)
                                .PreviousNext(true)
                                .Refresh(true)
                                .PageSizes(new List<object> { 10, 20, 100, 200, 300, 500, "all" })
                                .Responsive(false)
                            )
                            .Events(ev=>ev.Change("onChange"))
                            .PersistSelection()
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(20)
                                .Model(model => model.Id(p => p.ProductID))
                                .Read(read => read.Action("ProductModal_Read", "ModalFill"))
                            )
                        )
                    </table>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" id="addbtnproduct">Add</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<!--Customer modal form -->
<div class="modal fade" id="modal-Customer">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="height:100%;width:100%">
            <div class="modal-header">
                <h4 class="modal-title">Add Customer(s) for Sample Request</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <table class="table table-hover text-nowrap">
                        @(Html.Kendo().Grid<SampleOrdersTrackingSystem.Models.Customers>()
                            .Name("modalcustomergrid")
                            .Columns(columns =>
                            {
                                columns.Select().Width(50);
                                columns.Bound(p => p.CustomerId).Hidden();
                                columns.Bound(p => p.ShipToAddressId).Hidden();
                                columns.Bound(p => p.CustomerName).Width(120).Title("Customer");
                                columns.Bound(p => p.ShipToAddressee).Width(200).Title("Ship Address");
                            })
                             .Scrollable(s => s.Enabled(true).Height(300))
                              .Sortable()
                              .Filterable(filterable => filterable
                                    .Extra(true)
                                    .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains("Contains")
                                            .StartsWith("Starts with")
                                            .IsEqualTo("Is equal to")
                                            .IsNotEqualTo("Is not equal to")
                                            .DoesNotContain("Does not containe")
                                            .EndsWith("End with")
                                            .IsNull("Is null")
                                            .IsNotNull("Is not null")
                                        ))
                                    )
                             .Pageable(pager => pager
                                .Input(false)
                                .Numeric(true).ButtonCount(5)
                                .Info(true).Enabled(true)
                                .PreviousNext(true)
                                .Refresh(true)
                                .PageSizes(new List<object> { 10, 20, 100, 200, 300, 500, "all" })
                                .Responsive(false)
                            )
                            .PersistSelection()
                            .Events(ev => ev.Change("CustomeronChange"))
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(20)
                            .Model(model => model.Id(p => p.CustomerId))
                            .Read(read => read.Action("CustomerModal_Read", "ModalFill"))
                            )
                            )
                    </table>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" id="addbtncustomer">Add</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<!-- Assigned Customer modal form -->
<div class="modal fade" id="modal-AssignedCustomer">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="height:100%;width:100%">
            <div class="modal-header">
                <h4 class="modal-title">Add Assigned Customer(s) for Sample Request</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <table class="table table-hover text-nowrap">
                        @(Html.Kendo().Grid<SampleOrdersTrackingSystem.Models.Customers>()
                            .Name("modalassignedcustomergrid")
                            .Columns(columns =>
                            {
                                columns.Select().Width(50);
                                columns.Bound(p => p.CustomerId).Hidden();
                                columns.Bound(p => p.TerritoryId).Hidden();
                                columns.Bound(p => p.ShipToAddressId).Hidden();
                                columns.Bound(p => p.CustomerName).Width(120).Title("Customer");
                                columns.Bound(p => p.ShipToAddressee).Width(200).Title("Ship Address");
                            })
                             .Scrollable(s => s.Enabled(true).Height(300))
                              .Sortable()
                              .Filterable(filterable => filterable
                                    .Extra(true)
                                    .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains("Contains")
                                            .StartsWith("Starts with")
                                            .IsEqualTo("Is equal to")
                                            .IsNotEqualTo("Is not equal to")
                                            .DoesNotContain("Does not containe")
                                            .EndsWith("End with")
                                            .IsNull("Is null")
                                            .IsNotNull("Is not null")
                                        ))
                                    )
                             .Pageable(pager => pager
                                .Input(false)
                                .Numeric(true).ButtonCount(5)
                                .Info(true).Enabled(true)
                                .PreviousNext(true)
                                .Refresh(true)
                                .PageSizes(new List<object> { 10, 20, 100, 200, 300, 500, "all" })
                                .Responsive(false)
                            )
                            .PersistSelection()
                            .Events(ev => ev.Change("assignedonChange"))
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(20)
                            .Model(model => model.Id(p => p.CustomerId))
                            .Read(read => read.Action("AssignedCustomerModal_Read", "ModalFill", new { salesrep = @ViewBag.territoryid }))
                            )
                            )
                    </table>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" id="addbtnAssignedCustomer">Add</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>


<script>
    var selectedrow = [];
    var Customerselectedrow = [];
    var Assignedselectedrow = [];

    function onChange() {
        var entityGrid = $("#modalproductgrid").data("kendoGrid");
        //var data = entityGrid.dataSource.data();
        var selectedItems = entityGrid.selectedKeyNames();
        if (selectedItems.length > 0) {
            selectedItems.forEach(function (key) {
                selectedrow.push(entityGrid.dataSource.get(key));
            });
        } else {
            selectedrow.length = 0;
        }
        selectedItems = "";
        //  selectedrow = selectedrow.filter((a, b) => selectedrow.indexOf(a) === b)
    }

    function CustomeronChange() {
        var CustentityGrid = $("#modalcustomergrid").data("kendoGrid");
        var CustselectedItems = CustentityGrid.selectedKeyNames();
        if (CustselectedItems.length > 0) {
            CustselectedItems.forEach(function (key) {
                Customerselectedrow.push(CustentityGrid.dataSource.get(key));
            });
        } else {
            Customerselectedrow.length = 0;
        }
        CustselectedItems = "";
    }

    function assignedonChange() {
        var assignedentityGrid = $("#modalassignedcustomergrid").data("kendoGrid");
        var assignedselectedItems = assignedentityGrid.selectedKeyNames();
        if (assignedselectedItems.length > 0) {
            assignedselectedItems.forEach(function (key) {
                Assignedselectedrow.push(assignedentityGrid.dataSource.get(key));
            });
        } else {
            Assignedselectedrow.length = 0;
        }
        assignedselectedItems = "";
    }



    function calcActCost(e) {
        var acttot = parseFloat(e.Cost * (parseFloat(100 - e.Rebate) / 100));
        var result = acttot.toFixed(2);
        return result;
    }

    function calcColumns(e) {
        var acttot1 = parseFloat(e.Cost * (parseFloat(100 - e.Rebate) / 100));
        var result = (acttot1 * e.Quantity).toFixed(2);
        return "<span class='totalSpan'>" + result + "</span>";
    }


    function notEditable(e) {
        return false;
    }

    function onSave(e) {
        var acttotal = 0;
        var actRebt = 0;
        if (e.values.hasOwnProperty("DelivPrice") ||
            e.values.hasOwnProperty("Quantity") ||
            e.values.hasOwnProperty("ActCost")) {
            var totalSpan = e.container.closest("TR").find(".totalSpan");
            if (e.values.hasOwnProperty("Quantity")) {

                actRebt = parseFloat(100 - e.model.Rebate) / 100;
                acttotal = parseFloat(e.model.Cost * actRebt);
                e.model.set("ActCost", acttotal);
                e.model.set("TOTAL", acttotal * e.values.Quantity);
                totalSpan.html((acttotal * e.values.Quantity).toFixed(2));
            }
            else {
                e.model.set("ActCost", (e.model.Cost * ((100 - e.model.Rebate) / 100)));
                totalSpan.html(e.model.ActCost * e.values.Quantity);
                e.model.set("TOTAL", totalSpan.html());
            }
        }
    }


    // $("#save").on("click", function () {
    function savedata() {
        if (Validate()) {
            var validator = $("#samplehdrdata").kendoValidator({
                rules: {
                    salesgrid: function (item) {
                        if (item.is('[id="salesgrid"]')) {
                            var grid = item.getKendoGrid();
                            var oldproduct = grid.dataSource.data();
                            if (oldproduct.length > 0) {
                                for (var x = 0; x < oldproduct.length; x++) {
                                    var dataItem = oldproduct[x];
                                    if (dataItem.Quantity == 0 || dataItem.Quantity == undefined || dataItem.Quantity == null ||
                                        dataItem.Rebate == 0 || dataItem.Rebate == undefined || dataItem.Rebate == null) {
                                        alert("Please Enter Qty & Rebate");
                                        return false;
                                    }
                                }
                            }
                            return oldproduct.length > 0;
                        }
                        return true;
                    }
                },
                messages: {
                    // salesgrid: 'There is no sample request to dispaly. Please add atleast one product'
                    salesgrid: 'Please add at least one product with quantity and rebate'
                }
            }).data("kendoValidator");
            var isValid = validator.validate() && validator.validateInput($("#salesgrid"));
            if (isValid) {
                if (confirm("Do you want to save Product Items?")) {
                    sendData();
                }
            }
            // });
        }
    }

    function IsNumeric(val) {
        return Number(parseFloat(val)) === val;
    }


    $('#filterproduct').on('input', function (e) {

        var grid = $('#salesgrid').data('kendoGrid');
        var columns = grid.columns;

        var filter = { logic: 'or', filters: [] };
        columns.forEach(function (x) {
            if (x.field) {
                var type = grid.dataSource.options.schema.model.fields[x.field].type;
                if (type == 'string') {
                    filter.filters.push({
                        field: x.field,
                        operator: 'contains',
                        value: e.target.value
                    })
                }
                else if (type == 'number') {
                    if (IsNumeric(e.target.value)) {
                        filter.filters.push({
                            field: x.field,
                            operator: 'eq',
                            value: e.target.value
                        });
                    }
                }
                else if (type == 'date') {
                    var data = grid.dataSource.data();
                    for (var i = 0; i < data.length; i++) {
                        var dateStr = kendo.format(x.format, data[i][x.field]);
                        if (dateStr.startsWith(e.target.value)) {
                            filter.filters.push({
                                field: x.field,
                                operator: 'eq',
                                value: data[i][x.field]
                            })
                        }
                    }
                } else if (type == 'boolean' && getBoolean(e.target.value) !== null) {
                    var bool = getBoolean(e.target.value);
                    filter.filters.push({
                        field: x.field,
                        operator: 'eq',
                        value: bool
                    });
                }
            }
        });
        grid.dataSource.filter(filter);
    });
    // search For Customers Grid
    $('#customergrid').on('input', function (e) {

        var grid = $('#customergrid').data('kendoGrid');
        var columns = grid.columns;

        var custfilter = { logic: 'or', filters: [] };
        columns.forEach(function (x) {
            if (x.field) {
                var type = grid.dataSource.options.schema.model.fields[x.field].type;
                if (type == 'string') {
                    custfilter.filters.push({
                        field: x.field,
                        operator: 'contains',
                        value: e.target.value
                    })
                }
                else if (type == 'number') {
                    if (IsNumeric(e.target.value)) {
                        custfilter.filters.push({
                            field: x.field,
                            operator: 'eq',
                            value: e.target.value
                        });
                    }
                }
                else if (type == 'date') {
                    var data = grid.dataSource.data();
                    for (var i = 0; i < data.length; i++) {
                        var dateStr = kendo.format(x.format, data[i][x.field]);
                        if (dateStr.startsWith(e.target.value)) {
                            custfilter.filters.push({
                                field: x.field,
                                operator: 'eq',
                                value: data[i][x.field]
                            })
                        }
                    }
                } else if (type == 'boolean' && getBoolean(e.target.value) !== null) {
                    var bool = getBoolean(e.target.value);
                    custfilter.filters.push({
                        field: x.field,
                        operator: 'eq',
                        value: bool
                    });
                }
            }
        });
        grid.dataSource.filter(custfilter);
    });</script>

<script>
    function sendData() {

        jQuery.fn.serializeObject = function () {
            var arrayData, objectData;
            arrayData = this.serializeArray();
            objectData = {};

            $.each(arrayData, function () {
                var value;

                if (this.value != null) {
                    value = this.value;
                } else {
                    value = '';
                }

                if (objectData[this.name] != null) {
                    if (!objectData[this.name].push) {
                        objectData[this.name] = [objectData[this.name]];
                    }

                    objectData[this.name].push(value);
                } else {
                    objectData[this.name] = value;
                }
            });

            return objectData;
        };


                var progrid = $("#salesgrid").data("kendoGrid");
                var custgrid = $("#customergrid").data("kendoGrid");

               //get the new and the updated records from Product Grid
                var procurrentData = progrid.dataSource.data();
                var proupdatedRecords = [];
                var pronewRecords = [];

                var custcurrentData = custgrid.dataSource.data();
                var custupdatedRecords = [];
                var custnewRecords = [];


                for (var i = 0; i < procurrentData.length; i++) {
                    //if (procurrentData[i].isNew()) {
                    //    //this record is new
                    //    pronewRecords.push(procurrentData[i].toJSON());
                    //}
                    //else if (procurrentData[i].dirty) {
                        proupdatedRecords.push(procurrentData[i].toJSON());
                   /* }*/
                }

                //this records are deleted
                var prodeletedRecords = [];
                for (var i = 0; i < progrid.dataSource._destroyed.length; i++) {
                    prodeletedRecords.push(progrid.dataSource._destroyed[i].toJSON());
                }


                for (var i = 0; i < custcurrentData.length; i++) {
                    custnewRecords.push(custcurrentData[i].toJSON());
                    //if (custcurrentData[i].isNew()) {
                    //    //this record is new
                    //    custnewRecords.push(custcurrentData[i].toJSON());
                    //}else
                    //if (custcurrentData[i].dirty) {
                    //    custupdatedRecords.push(custcurrentData[i].toJSON());
                    //}
                }


                //this records are deleted
                var custdeletedRecords = [];
                for (var i = 0; i < custgrid.dataSource._destroyed.length; i++) {
                    custdeletedRecords.push(custgrid.dataSource._destroyed[i].toJSON());
                }

                var serializedData = $("#samplehdrdata").serializeObject();
                var model = {};
                //pass header data to  model variable
                model.Id = serializedData.Id;
                model.DriverId = serializedData.DriverId;
                model.RequestNo = serializedData.RequestNo;
                model.ClientId = serializedData.ClientId;
                model.InsertAgent = serializedData.InsertAgent;
                model.Reasonforsample = serializedData.Reasonforsample;
                model.SalesRepID = serializedData.SalesRepID;
                model.SalesorderTypeID = serializedData.SalesorderTypeID;
                model.Status = serializedData.Status;
                model.TxnDate = serializedData.TxnDate;
                model.Comments = serializedData.Comments;

                model.SalesOrderRequestProducts = proupdatedRecords;
                model.SalesOrderRequestCustomers = custnewRecords;

                model.DeleteProducts = prodeletedRecords;
                model.DeleteCustomers = custdeletedRecords;
               // var items = JSON.stringify(model);

               $.ajax({
                   type: "POST",
                    url: '@Url.Action("UpdateCreateDelete", "SampleOrders")',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    processData: false,
                    data: JSON.stringify(model),
                    error: function (e) {
                        alert(data + 'Er');
                    },
                   success: function () {
                       alert("Sales orders Request successful submitted!");
                      // window.location.href = "/SampleOrders/Edit?pId=" + response;
                           location.reload();
                        //progrid.dataSource._destroyed = [];
                        //custgrid.dataSource._destroyed = [];
                        ////refresh the grid - optional
                        // progrid.dataSource.read();
                        // custgrid.dataSource.read();
                    }
                })
    }
</script>

<script>
    function clean(item) {
        var tempArr = [];
        for (var i = 0; i < item.length; i++) {
            if (item[i] !== undefined && item[i] != "") {
                tempArr.push(item[i]);
            }
        }
        return tempArr;
    }
    function removeDuplicates(array) {
        return array.filter((a, b) => array.indexOf(a) === b)
    };

    $("#addbtnproduct").on("click", function (e) {
        var grid = $("#modalproductgrid").data("kendoGrid");
        var Tgrid = $("#salesgrid").data("kendoGrid");
        var TgridDataSource = Tgrid.dataSource;
        var oldproduct = TgridDataSource.data();

        TgridDataSource.unbind("change", Tgrid._refreshHandler);
        var rows = grid.select();

        var filterarry = [];
        var filterarrynew = [];
        filterarrynew = clean(selectedrow);
        filterarry = removeDuplicates(filterarrynew);


        for (var x = 0; x < filterarry.length; x++) {
            var dataItem = filterarry[x];


            var PackageId = dataItem.PackageId;
            var PackageName = dataItem.PackageName;
            var ProductID = dataItem.ProductID;
            var ProductName = dataItem.ProductName;
            //var Quantity = dataItem.Quantity;
            var Quantity = 1;
            var Cost = dataItem.Cost;
            //var Rebate = dataItem.Rebate;
            var Rebate = 50;
            var TOTAL = dataItem.TOTAL;
            /* var TotalAmount = dataItem.TotalAmount;*/
            var SKU = dataItem.SKU;
            var Description = dataItem.Description;
            var DelivPrice = dataItem.DelivPrice;
            var Bin = Bin;
            var ActCost = 0;
            var QTA = dataItem.AvaliableQty;



            if (oldproduct.length == 0) {
                var newRow = TgridDataSource.add({ PackageId: PackageId, PackageName: PackageName, ProductID: ProductID, ProductName: ProductName, Quantity: Quantity, Cost: Cost, Rebate: Rebate, TOTAL: TOTAL, SKU: SKU, Description: Description, DelivPrice: DelivPrice, Bin: Bin, ActCost: ActCost, AvaliableQty: QTA });

                $(TgridDataSource.tbody)
                    .find("tr").removeClass("new-row")
                    .filter('tr[data-uid="' + newRow.uid + '"]').addClass("new-row"); // Add class to the new row

            }
            else {
                var result = false;
                for (var i = 0, length = oldproduct.length; i < length; i++) {

                    if (oldproduct[i].ProductName == dataItem.ProductName &&
                        oldproduct[i].ProductID == dataItem.ProductID) {
                        alert(ProductName + " Already Exit in product list");
                        result = true;
                    }
                }
                //  Insert New record into parent DataSource
                if (result == false) {

                    var newRow1 = TgridDataSource.add({ PackageId: PackageId, PackageName: PackageName, ProductID: ProductID, ProductName: ProductName, Quantity: Quantity, Cost: Cost, Rebate: Rebate, TOTAL: TOTAL, SKU: SKU, Description: Description, DelivPrice: DelivPrice, Bin: Bin, ActCost: ActCost, AvaliableQty: QTA });
                    $(TgridDataSource.tbody)
                        .find("tr").removeClass("new-row")
                        .filter('tr[data-uid="' + newRow1.uid + '"]').addClass("new-row"); // Add class to the new row

                }
            }
        }

        $("#modalproductgrid").data("kendoGrid").dataSource.filter({}); //Clear grid Filters
        grid._selectedIds = {};
        grid.clearSelection();  // Clear selected rows
        $('#modal-product').modal('toggle'); // Close modal form
        //Tgrid.dataSource.sync();  // Syn Datasource
        TgridDataSource.bind("change", Tgrid._refreshHandler);
        Tgrid.hideColumn("Cost");
        TgridDataSource.fetch();
        TgridDataSource.sort({ field: "Quantity", dir: "asc" });
        selectedrow.length = 0;
        filterarry.length = 0;
        filterarrynew.length = 0;
    })

    $("#addbtncustomer").on("click", function (e) {
        var grid = $("#modalcustomergrid").data("kendoGrid");
        var Tgrid = $("#customergrid").data("kendoGrid");
        var TgridDataSource = Tgrid.dataSource;
        var oldcustomer = TgridDataSource.data();
        TgridDataSource.unbind("change", Tgrid._refreshHandler);
        var rows = grid.select();

        var custfilterarry = [];
        var custfilterarryNew = [];
        custfilterarryNew = clean(Customerselectedrow);
        custfilterarry = removeDuplicates(custfilterarryNew);


        for (var x = 0; x < custfilterarry.length; x++) {
            //Get DataItem from SelectItems
            //var dataItem = grid.dataItem(rows[x]);
            var dataItem = custfilterarry[x];
            //Get ProductName

            var CustomerId = dataItem.CustomerId;
            var CustomerName = dataItem.CustomerName;
            var ShipToAddressId = dataItem.ShipToAddressId;
            var ShipToAddressee = dataItem.ShipToAddressee;

            if (oldcustomer.length == 0) {
                var newRow = TgridDataSource.add({ CustomerId: CustomerId, CustomerName: CustomerName, ShipAddressId: ShipToAddressId, ShipAddress: ShipToAddressee });
                $(TgridDataSource.tbody)
                    .find("tr").removeClass("new-row")
                    .filter('tr[data-uid="' + newRow.uid + '"]').addClass("new-row"); // Add class to the new row

            }
            else {
                var result = false;
                for (var i = 0, length = oldcustomer.length; i < length; i++) {

                    if (oldcustomer[i].CustomerName == dataItem.CustomerName &&
                        oldcustomer[i].CustomerId == dataItem.CustomerId) {
                        alert(CustomerName + " Already Exit in Customer list");
                        result = true;
                    }
                }
                //  Insert New record into parent DataSource
                if (result == false) {
                    var newRow1 = TgridDataSource.add({ CustomerId: CustomerId, CustomerName: CustomerName, ShipAddressId: ShipToAddressId, ShipAddress: ShipToAddressee });
                    $(TgridDataSource.tbody)
                        .find("tr").removeClass("new-row")
                        .filter('tr[data-uid="' + newRow1.uid + '"]').addClass("new-row"); // Add class to the new row
                }
            }


            //Insert New record into parent DataSource
            //            TgridDataSource.add({ CustomerId: CustomerId, CustomerName: CustomerName, ShipAddressId: ShipToAddressId, ShipAddress: ShipToAddressee });
        }

        $("#modalcustomergrid").data("kendoGrid").dataSource.filter({});   //Clear grid Filters
        grid._selectedIds = {};
        grid.clearSelection();                                             // Clear selected rows
        $('#modal-Customer').modal('toggle');                              // Close modal form
        TgridDataSource.bind("change", Tgrid._refreshHandler);
        TgridDataSource.fetch();
        custfilterarry.length = 0;
        custfilterarryNew.length = 0;
        Customerselectedrow.length = 0;

    })


    $("#addbtnAssignedCustomer").on("click", function (e) {
        var grid = $("#modalassignedcustomergrid").data("kendoGrid");
        var Tgrid = $("#customergrid").data("kendoGrid");
        var TgridDataSource = Tgrid.dataSource;
        var oldcustomer = TgridDataSource.data();
        TgridDataSource.unbind("change", Tgrid._refreshHandler);
        var rows = grid.select();

        var ascustfilterarry = [];
        var ascustfilterarryNew = [];
        ascustfilterarryNew = clean(Assignedselectedrow);
        ascustfilterarry = removeDuplicates(ascustfilterarry);
     

        for (var x = 0; x < ascustfilterarry.length; x++) {
            //Get DataItem from SelectItems
            var dataItem = ascustfilterarry[x];
            //Get ProductName

            var CustomerId = dataItem.CustomerId;
            var CustomerName = dataItem.CustomerName;
            var ShipToAddressId = dataItem.ShipToAddressId;
            var ShipToAddressee = dataItem.ShipToAddressee;

            if (oldcustomer.length == 0) {
                var newRow = TgridDataSource.add({ CustomerId: CustomerId, CustomerName: CustomerName, ShipAddressId: ShipToAddressId, ShipAddress: ShipToAddressee });
                $(TgridDataSource.tbody)
                    .find("tr").removeClass("new-row")
                    .filter('tr[data-uid="' + newRow.uid + '"]').addClass("new-row"); // Add class to the new row

            }
            else {
                var result = false;
                for (var i = 0, length = oldcustomer.length; i < length; i++) {

                    if (oldcustomer[i].CustomerName == dataItem.CustomerName &&
                        oldcustomer[i].CustomerId == dataItem.CustomerId) {
                        alert(CustomerName + " Already Exit in Customer list");
                        result = true;
                    }
                }
                //  Insert New record into parent DataSource
                if (result == false) {
                    var newRow1 = TgridDataSource.add({ CustomerId: CustomerId, CustomerName: CustomerName, ShipAddressId: ShipToAddressId, ShipAddress: ShipToAddressee });
                    $(TgridDataSource.tbody)
                        .find("tr").removeClass("new-row")
                        .filter('tr[data-uid="' + newRow1.uid + '"]').addClass("new-row"); // Add class to the new row
                }
            }
            //Insert New record into parent DataSource
            //            TgridDataSource.add({ CustomerId: CustomerId, CustomerName: CustomerName, ShipAddressId: ShipToAddressId, ShipAddress: ShipToAddressee });
        }

        $("#modalassignedcustomergrid").data("kendoGrid").dataSource.filter({});   //Clear grid Filters
        grid._selectedIds = {};
        grid.clearSelection();                                                     // Clear selected rows
        $('#modal-AssignedCustomer').modal('toggle');                              // Close modal form
        TgridDataSource.bind("change", Tgrid._refreshHandler);
        TgridDataSource.fetch();
        Assignedselectedrow.length = 0;
        ascustfilterarry.length = 0;
        ascustfilterarryNew.length = 0;
    })

</script>

<script type="text/javascript">
    //Clear Query String after saving data
    function ClearQuery() {
        var uri = window.location.toString();
        if (uri.indexOf("?") > 0) {
            var clean_uri = uri.substring(0, uri.indexOf("?"));
            window.history.replaceState({}, document.title, clean_uri);
        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
    $(document).ready(function () {
        //var isMobile = Boolean(kendo.support.mobileOS);
        //if (isMobile) {
        //    $("#qr-wrap").hide();
        //    $("#grid-wrap").show();

        //    $("#salesgrid").data("kendoGrid").resize();
        //    $("#customergrid").data("kendoGrid").resize();

        //    //Modal Grid for mobile layout

        //    $("modalcustomergrid").data("kendoGrid").resize();
        //    $("modalproductgrid").data("kendoGrid").resize();
        //}
        // ClearQuery(); // call clear Query string function
    });
</script>
<script>

    $(function () {
        $.validator.setDefaults({
            submitHandler: function () {
                //  alert("Form successful submitted!");
            }
        });
        $('#samplehdrdata').validate({
            rules: {
                Status: {
                    required: true
                },
                ddlsalesrep: {
                    required: {
                        depends: function (element) {
                            if ('00000000-0000-0000-0000-000000000000' == $('#ddlsalesrep').val()) {
                                //Set predefined value to blank.
                                $('#ddlsalesrep').val('');
                            }
                            return true;
                        }
                    }
                },
                TxnDate: {
                    required: {
                        depends: function (element) {
                            if ('' == $('#TxnDate').val()) {
                                $('#TxnDate').val('');
                            }
                            return true;
                        }
                    }
                },
                DriverId: {
                    required: {
                        depends: function (element) {
                            if ('00000000-0000-0000-0000-000000000000' == $('#DriverId').val()) {
                                $('#DriverId').val('');
                            }
                            return true;
                        }
                    }
                },

            },
            messages: {
                TxnDate: {
                    required: "Please select Planned Sample Date",
                },
                ddlsalesrep: {
                    required: "Please select sales rep",
                    //minlength: "Your password must be at least 5 characters long"
                },
                DriverId: {
                    required: "Please select Driver",
                },
                branch: {
                    required: "Please select branch",
                },
                Status: "Please enter status"
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });
</script>

