﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model IEnumerable<SampleOrdersTrackingSystem.Models.SampleOrders>
<!-- DataTables -->
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Sample Request</h3>
          <div class="card-tools">
                <button type="button" class="btn btn-outline-info btn-block btn-flat" onclick="location.href='@Url.Action("SampleOrders", "SampleOrders")'"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add New</button>
            </div>
    </div>
    <form id="indexdata">
        <div class="text-danger" style="text-align:center">@ViewBag.vmessage</div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table id="salesordtbl" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Request No</th>
                                <th>Sales Rep</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var sample in Model)
                            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => sample.TxnDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => sample.RequestNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => sample.SalesRepName)
                    </td>
                    <td>
                        @if (sample.Status == 1)
                        {<span class="badge badge-primary">New Request</span> }
                        else
                        { <span class="badge badge-info">Approved</span>}
                    </td>
                    <td>
                        @Html.ActionLink("View", "View", new { pId = sample.Id })
                        @if (sample.Status != 2)
                        {
        <i>|</i>
                            @Html.ActionLink("Edit", "Edit", new { pId = sample.Id }) <i>|</i>
                                                @Html.ActionLink("Delete", "Delete", new { pId = sample.Id }, new { onclick = "return confirm('Do you want to delete?');" })}
                    </td>
                </tr>}
                        </tbody>
                        @*<tfoot>
                        <tr>
                            <th>Date</th>
                            <th>Request No</th>
                            <th>Sales Rep</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>*@
                    </table>
                </div>
            </div>
        </div>
</form>
</div>

<script>
    $(function () {
        $("#salesordtbl").DataTable({
            "responsive": true, "lengthChange": true, "autoWidth": false, "scrollY": true,
            "scrollX": true, "info": true,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
            "bSort": false,
            "fixedHeader" : true
        }).buttons().container().appendTo('#salesordtbl_wrapper .col-md-6:eq(0)');
    });

</script>