﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model SampleOrdersTrackingSystem.Models.SampleOrders
@using Kendo.Mvc.UI

<style>
    /* .floatRight {
        float: right;
    }*/
    .divspace {
        display: flex;
        justify-content: space-between;
    }

    .k-grid .k-grid-search {
        margin-left: auto;
        margin-right: 0;
    }

    .form-group.required .control-label:before {
        color: red;
        content: "*";
        position: absolute;
        margin-left: -15px;
    }

    .color {
        background-color: red;
    }

    .new-row {
        background-color: #f00 !important;
    }

    .colored-col {
        background-color: rgb(199 128 128 / 0.38)
    }

    #ScrollableDiv {
        height: 600px;
        overflow-y: scroll;
    }

    #ScrollableDiv .k-auto-scrollable {
        overflow-y: unset;
    }
    
</style>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
<script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.all.min.js"></script>
 

<script type="text/javascript">
    function Validate() {
        $('#lblerrormessage').text("");
        var salesrepid = $("#SalesRepID").val();
        var DriverId = $("#DriverId").val();
        var TxnDate = $("#TxnDate").val();
        var ddlreason = $("#ddlreason").val();

        if (salesrepid == null || salesrepid == "" || salesrepid == '00000000-0000-0000-0000-000000000000') {
            document.getElementById('errormessage').style.display = "block";
            $('#lblerrormessage').text("Please select Sales rep.");
            document.getElementById('SalesRepID');
            return false;
        }
        else if (DriverId == null || DriverId == "" || DriverId == '00000000-0000-0000-0000-000000000000') {
            document.getElementById('errormessage').style.display = "block";
            $('#lblerrormessage').text("Please select Driver.");
            document.getElementById('DriverId');
            return false;
        }
        else if (TxnDate == null || TxnDate == "" || TxnDate == 0) {
            document.getElementById('errormessage').style.display = "block";
            $('#lblerrormessage').text("Please select Planned Sample Date.");
            document.getElementById('TxnDate');
            return false;
        }
        //else if (ddlreason == null || ddlreason == "" || ddlreason == 0) {
        //    document.getElementById('errormessage').style.display = "block";
        //    $('#lblerrormessage').text("Please select Reason for sample.");
        //    document.getElementById('ddlreason');
        //    return false;
        //}
        else {
            return true;
        }
    }
</script>


<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Sample Request</h3>
        <div class="card-tools">
            <div id="BudgetAmount" class="text-success"></div>
        </div>

    </div>
    <form id="samplehdrdata">
        <div class="card-body">
            <div class="hide">
                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" asp-for="@Model.InsertAgent" value="@HttpContextAccessor.HttpContext.Session.GetString("Uname")" />
                <input type="hidden" asp-for="@Model.Status" value="1" />
                @if (@HttpContextAccessor.HttpContext.Session.GetString("Company") == "1193")
                {<input type="hidden" asp-for="@Model.SalesorderTypeID" value="1" />}
                else
                { <input type="hidden" asp-for="@Model.SalesorderTypeID" value="2" />}
            </div>
            <div class="form-row">
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="lblRequestNo">Request No</label>
                        <input name="RequestNo" id="RequestNo" type="text" disabled class="form-control" asp-for="@Model.RequestNo" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="position-relative form-group required">
                        <label for="lblsalesrep" class="control-label">Sales Rep</label>
                        <select asp-for="@Model.SalesRepID" class="form-control" id="SalesRepID" name="SalesRepID"
                                asp-items="@(new SelectList(ViewBag.salesrepcombolist,"Id","Name"))"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="position-relative form-group required">
                        <label for="lblDriverId" class="control-label">Driver</label>
                        <select asp-for="@Model.DriverId" class="form-control" id="DriverId" name="DriverId"
                                asp-items="@(new SelectList(ViewBag.drivercombolist,"DriverId","DriverName"))"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="position-relative form-group required">
                        <label for="TxnDate" class="control-label">Planned Sample Date</label>
                        <input name="TxnDate" id="TxnDate" min="3000/01/01" onfocus="this.min=new Date().toISOString().split('T')[0]" placeholder="Select date" type="date" class="form-control" asp-for="@Model.TxnDate">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="lblAmount" class="">Reason for sampling</label>
                        <select asp-for="@Model.Reasonforsample" class="form-control" id="ddlreason"
                                asp-items="@(new SelectList(ViewBag.Resonelistcombo,"Value","Text"))"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- textarea -->
                    <div class="position-relative form-group">
                        <label for="lblcomment" class="">Comment</label>
                        <textarea id="Comments" class="form-control" rows="1" placeholder="Enter ..." asp-for="@Model.Comments"></textarea>
                    </div>
                </div>
            </div>
            @*Error message for validation*@

            <div id="errormessage" style="display:none" >
                 <center><p style="font-weight:bold;color:red;"><label id="lblerrormessage"></label></p> </center>
            </div>
            <div class="form-row">
                <div id="validation-summary"></div>
                <div class="col-12">
                    <div class="card">
                        <div class="divspace" style="background-color:#3c8dbc">
                            @*<p class="text-white" style="margin-left:0.5em;margin-top:0.8em">Product Details</p>*@
                            @*<input id='filterproduct' class="form-control rounded" type="search" placeholder="Search" aria-label="Search" style="width:15%">*@
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-product">
                                ADD Products
                            </button>
                        </div>
                        <table class="table table-hover text-nowrap">
                            @(Html.Kendo().Grid<SalesOrderRequestProduct>()
                        .Name("salesgrid")
                        .Columns(columns =>
                        {
                            columns.Command(command => { command.Destroy().Text("&nbsp;").IconClass("k-icon k-i-trash"); }).Width(80);
                            columns.Bound(p => p.ProductID).Hidden();
                            columns.Bound(p => p.PackageId).Hidden();
                            columns.Bound(p => p.Description).Width(250).Editable("notEditable").Locked(false);
                            columns.Bound(p => p.Quantity).Width(120).Title("Qty *"); //.HtmlAttributes(new { @class = "colored-col" });
                            columns.Bound(p => p.Rebate).Width(120).Title("Rebate *").Format("{0:#.## \\'%'}").HtmlAttributes(new { required = "required", data_rebate_msg = "Rebate percent must be 50% or 100%" }); ;
                            columns.Bound(p => p.SKU).Width(120).Editable("notEditable");
                            columns.Bound(p => p.AvaliableQty).Width(100).Title("QTA").Editable("notEditable");
                            columns.Bound(p => p.Bin).Width(120).Editable("notEditable").Hidden();
                            columns.Bound(p => p.ProductName).Hidden();
                            columns.Bound(p => p.PackageName).Width(180).Title("UOM").Editable("notEditable");
                            if(@HttpContextAccessor.HttpContext.Session.GetString("Role") == "ClientAdmin" ||
                                @HttpContextAccessor.HttpContext.Session.GetString("Role") == "Client")
                            {
                                columns.Bound(p => p.Cost).Width(180).Title("Cost").Editable("notEditable");
                                columns.Bound(p => p.DelivPrice).Width(180).Editable("notEditable").Title("Price");
                                columns.Bound(o => o.ActCost).Title("Cost").Width(120)
                                .ClientTemplate("#=calcActCost(data)#")
                                .Editable("notEditable");
                                columns.Bound(o => o.TOTAL)
                                .ClientTemplate("#=calcColumns(data)#").Width(180)
                                .Title("Amount")
                                .Editable("notEditable")
                                .ClientFooterTemplate("Total: #=sum#");
                            }

                        })
                        .Editable(editable => editable.Mode(GridEditMode.InCell))
                        //.Pageable(x => x.PageSizes(new List<object> { 10, 20, 100, 200, 500, "all" }))
                        .Navigatable()
                        .Sortable()
                        .Groupable()
                        .Filterable()
                        .Pageable()
                        .Scrollable(scrollable => scrollable.Height(400))
                        //.ToolBar(p => p.Search())
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Batch(true)
                            .PageSize(10)
                            .ServerOperation(false)
                            .Events(events => events.Error("error_handler"))
                            .Model(model => {
                                model.Id(p => p.Id);
                                model.Field(p => p.ProductID);
                                model.Field(p => p.TOTAL);
                            })
                            .Aggregates(aggregates => {
                                aggregates.Add(p => p.TOTAL).Sum();
                            })
                        )
                        .Events(ev => ev.Save("onSave"))
                        .Resizable(resize => resize.Columns(true))
                        )
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-ms-4">
                    <div class="position-relative form-group">
                        <input id="save" type="button" class="btn btn-primary" value="Save Product" onclick="savedata()" />
                        @*<a asp-action="Index" method="post" class="btn btn-danger">Close</a>*@
                    </div>
                </div>
            </div>
            <!-- Customer Grid  -->
            <div class="form-row">
                <div class="col-12">
                    <div class="card">
                        <div class="" style="background-color:#3c8dbc">
                            @*<p class="text-white" style="margin-left:0.5em;margin-top:0.8em">Customer Details</p>*@
                            @*<input id='filtercustomer' class="form-control rounded" type="search" placeholder="Search" aria-label="Search" style="width:15%">*@
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-AssignedCustomer">
                                Assigned  Customer
                            </button>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-Customer">
                                All Customer
                            </button>

                        </div>
                        <table class="table table-hover text-nowrap">
                            @(Html.Kendo().Grid<SalesOrderRequestCustomer>()
                        .Name("customergrid")
                        .Columns(columns =>
                        {
                            columns.Command(command => { command.Destroy().Text("&nbsp;").IconClass("k-icon k-i-trash"); }).Width(30);
                            columns.Bound(p => p.CustomerId).Hidden();
                            columns.Bound(p => p.ShipAddressId).Hidden();
                            columns.Bound(p => p.CustomerName).Width(120).Title("Customer").Editable("notEditable");
                            columns.Bound(p => p.ShipAddress).Width(200).Title("Ship Address").Editable("notEditable");

                        })
                        .Editable(editable => editable.Mode(GridEditMode.InCell))

                        .Navigatable()
                        .Sortable()
                        .Groupable()
                        .Filterable()
                        .Pageable()
                        .Scrollable(scrollable => scrollable.Height(120))
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Batch(true)
                        .PageSize(10)
                        .ServerOperation(false)
                        .Events(events => events.Error("error_handler"))
                        .Model(model =>
                        {
                            model.Id(p => p.Id);
                            model.Field(p => p.Id).Editable(false);
                        })
                        )
                        .Resizable(resize => resize.Columns(true))
                        )
                        </table>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input id="save2" type="button" class="btn btn-primary" value="Save" onclick="savedata()" />  @*type="submit"*@
            <a asp-action="Index" method="post" class="btn btn-danger">Close</a>
        </div>
    </form>
</div>


<!-- Product modal form  -->
<div class="modal fade" id="modal-product">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            @*style="height:100%;width:100%"*@
            <div class="modal-header">
                <h4 class="modal-title">Add Product(s) for Sample Request</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<div class="col-lg-12">
                    <table class="table table-responsive-m">*@
                @(Html.Kendo().Grid<SampleOrdersTrackingSystem.Models.ProductModel>()
                            .Name("modalproductgrid")
                            .Columns(columns => {
                                columns.Select().Width(50);
                                columns.Bound(p => p.ProductID).Hidden();
                                columns.Bound(p => p.PackageId).Hidden();
                                columns.Bound(p => p.Description).Width(200);
                                columns.Bound(p => p.Vendorname).Width(180).Title("Vendor");
                                columns.Bound(p => p.FullName).Width(240).Title("Full Name");
                                columns.Bound(p => p.SKU).Width(80);
                                columns.Bound(p => p.AvaliableQty).Width(100).Title("QTA");
                                columns.Bound(p => p.Bin).Width(80).Hidden();
                                columns.Bound(p => p.ProductName).Hidden();
                                columns.Bound(p => p.PackageName).Width(120).Title("UOM");
                                if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "ClientAdmin" ||
                                  @HttpContextAccessor.HttpContext.Session.GetString("Role") == "Client")
                                {
                                    columns.Bound(p => p.Cost).Title("Cost").Width(130);
                                }
                                columns.Bound(p => p.DelivPrice).Width(110).Title("Price");
                                columns.Bound(p => p.Rebate).Width(90).Hidden();
                                columns.Bound(p => p.Quantity).Width(80).Title("Qty").Hidden();
                                columns.Bound(p => p.TOTAL).Width(90).Hidden();

                            })


                              //.Scrollable()
                              //.Filterable(s => s.Mode(GridFilterMode.Row))
                              .Sortable()
                              .Scrollable(s => s.Enabled(true).Height(300))
                              .Filterable(filterable => filterable
                                    .Extra(true)
                                    .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains("Contains")
                                            .StartsWith("Starts with")
                                            .IsEqualTo("Is equal to")
                                            .IsNotEqualTo("Is not equal to")
                                            .DoesNotContain("Does not containe")
                                            .EndsWith("End with")
                                            .IsNull("Is null")
                                            .IsNotNull("Is not null")
                                        ))
                                    )
                             .Pageable(pager => pager
                                .Input(false)
                                .Numeric(true).ButtonCount(5)
                                .Info(true).Enabled(true)
                                .PreviousNext(true)
                                .Refresh(true)
                                .PageSizes(new List<object> { 10, 20, 100, 200, 300, 500, "all" })
                                .Responsive(false)
                            )
                            .Events(ev => ev.Change("onChange"))
                            .PersistSelection()
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(20)
                                .Model(model => model.Id(p => p.ProductID))
                                .Read(read => read.Action("ProductModal_Read", "ModalFill"))
                            )
                        )
                @*</table>
                    </div>*@
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="addbtnproduct">Add</button>
            </div>
            @*/.modal-content*@
        </div>
        @*/.modal-dialog*@
    </div>
    @*/.modal*@
</div>

<!--Customer modal form -->
<div class="modal fade" id="modal-Customer">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="height:100%;width:100%">
            <div class="modal-header">
                <h4 class="modal-title">Add Customer(s) for Sample Request</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <table class="table table-hover text-nowrap">
                        @(Html.Kendo().Grid<SampleOrdersTrackingSystem.Models.Customers>()
                            .Name("modalcustomergrid")
                            .Columns(columns =>
                            {
                                columns.Select().Width(50);
                                columns.Bound(p => p.CustomerId).Hidden();
                                columns.Bound(p => p.ShipToAddressId).Hidden();
                                columns.Bound(p => p.CustomerName).Width(120).Title("Customer");
                                columns.Bound(p => p.ShipToAddressee).Width(200).Title("Ship Address");
                            })

                           .Scrollable(s => s.Enabled(true).Height(300))
                              .Sortable()
                              .Filterable(filterable => filterable
                                    .Extra(true)
                                    .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains("Contains")
                                            .StartsWith("Starts with")
                                            .IsEqualTo("Is equal to")
                                            .IsNotEqualTo("Is not equal to")
                                            .DoesNotContain("Does not containe")
                                            .EndsWith("End with")
                                            .IsNull("Is null")
                                            .IsNotNull("Is not null")
                                        ))
                                    )
                             .Pageable(pager => pager
                                .Input(false)
                                .Numeric(true).ButtonCount(5)
                                .Info(true).Enabled(true)
                                .PreviousNext(true)
                                .Refresh(true)
                                .PageSizes(new List<object> { 10, 20, 100, 200, 300, 500, "all" })
                                .Responsive(false)
                            )
                            .Events(ev => ev.Change("CustomeronChange"))
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(20)
                            .Model(model => model.Id(p => p.CustomerId))
                            .Read(read => read.Action("CustomerModal_Read", "ModalFill"))
                            )
                            )
                    </table>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" id="addbtncustomer">Add</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<div class="modal fade" id="modal-AssignedCustomer">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="height:100%;width:100%">
            <div class="modal-header">
                <h4 class="modal-title">Add Assigned Customer(s) for Sample Request</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <table class="table table-hover text-nowrap">
                        @(Html.Kendo().Grid<SampleOrdersTrackingSystem.Models.Customers>()
                            .Name("modalassignedcustomergrid")
                            .Columns(columns =>
                            {
                                columns.Select().Width(50);
                                columns.Bound(p => p.CustomerId).Hidden();
                                columns.Bound(p => p.TerritoryId).Hidden();
                                columns.Bound(p => p.ShipToAddressId).Hidden();
                                columns.Bound(p => p.CustomerName).Width(120).Title("Customer");
                                columns.Bound(p => p.ShipToAddressee).Width(200).Title("Ship Address");
                            })
                            .Scrollable(s => s.Enabled(true).Height(300))
                              .Sortable()
                              .Filterable(filterable => filterable
                                    .Extra(true)
                                    .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains("Contains")
                                            .StartsWith("Starts with")
                                            .IsEqualTo("Is equal to")
                                            .IsNotEqualTo("Is not equal to")
                                            .DoesNotContain("Does not containe")
                                            .EndsWith("End with")
                                            .IsNull("Is null")
                                            .IsNotNull("Is not null")
                                        ))
                                    )
                             .Pageable(pager => pager
                                .Input(false)
                                .Numeric(true).ButtonCount(5)
                                .Info(true).Enabled(true)
                                .PreviousNext(true)
                                .Refresh(true)
                                .PageSizes(new List<object> { 10, 20, 100, 200, 300, 500, "all" })
                                .Responsive(false)
                            )
                            .PersistSelection()
                            .Events(ev => ev.Change("assignedonChange"))
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(20)
                            .Model(model => model.Id(p => p.CustomerId))
                            .Read(read => read.Action("AssignedCustomerModal_Read", "ModalFill", new { salesrep = @ViewBag.territoryid }))
                            )
                            )
                    </table>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" id="addbtnAssignedCustomer" onclick="">Add</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>


<script>
    var selectedrow = [];
    var Customerselectedrow = [];
    var Assignedselectedrow = [];

    function onChange() {
        var entityGrid = $("#modalproductgrid").data("kendoGrid");
        //var data = entityGrid.dataSource.data();
        var selectedItems = entityGrid.selectedKeyNames();
        if (selectedItems.length > 0) {
            selectedItems.forEach(function (key) {
                selectedrow.push(entityGrid.dataSource.get(key));
            });
        } else {
            selectedrow.length = 0;
        }
        selectedItems = "";
        //  selectedrow = selectedrow.filter((a, b) => selectedrow.indexOf(a) === b)
     }

    function CustomeronChange() {
        var CustentityGrid = $("#modalcustomergrid").data("kendoGrid");
        var CustselectedItems = CustentityGrid.selectedKeyNames();
        if (CustselectedItems.length > 0) {
            CustselectedItems.forEach(function (key) {
                Customerselectedrow.push(CustentityGrid.dataSource.get(key));
            });
        } else {
            Customerselectedrow.length = 0;
        }
        CustselectedItems = "";
     }

    function assignedonChange() {
        var assignedentityGrid = $("#modalassignedcustomergrid").data("kendoGrid");
        var assignedselectedItems = assignedentityGrid.selectedKeyNames();
        if (assignedselectedItems.length > 0) {
            assignedselectedItems.forEach(function (key) {
                Assignedselectedrow.push(assignedentityGrid.dataSource.get(key));
            });
        } else {
            Assignedselectedrow.length = 0;
        }
        assignedselectedItems = "";
    }


    function grid_filterMenuInit(e) {
        if (e.field == "Description") {
            var firstValueDropDown = e.container.find("select:eq(0)").data("kendoDropDownList");
            firstValueDropDown.value("contains");
            var logicDropDown = e.container.find("select:eq(1)").data("kendoDropDownList");
            logicDropDown.value("or");
            var secondValueDropDown = e.container.find("select:eq(2)").data("kendoDropDownList");
            secondValueDropDown.value("contains");
        }
    }

    //function filterMenuInit(e) {

    //    grid_filterMenuInit(e);

    //    //e.container.on("click", "[type='reset']", function () {

    //    //   // alert("Clear button clicked");
    //    //    var grid = $("#modalproductgrid").data("kendoGrid");
    //    //   grid.bind("filterMenuInit", grid_filterMenuInit);
    //    //});
    //}


    function getGridRowsCountById(gridId) {
        $( "#" + gridId).on('change', function () {
            alert(this.value);
        });
        //return $("#" + gridId).data("kendoGrid").dataSource.data().length;

    }

    function calcActCost(e) {
        var acttot = parseFloat(e.Cost * (parseFloat(100 - e.Rebate) / 100));
        var result = acttot.toFixed(2);
        return result;
    }

    function calcColumns(e) {
        var acttot1 = parseFloat(e.Cost * (parseFloat(100 - e.Rebate) / 100));
        var result = (acttot1 * e.Quantity).toFixed(2);
        return "<span class='totalSpan'>" + result + "</span>";
    }

    function notEditable(e) {
        return false;
    }

    function onSave(e) {

        var acttotal = 0;
        var actRebt  = 0;

        if (e.values.hasOwnProperty("Quantity") ||
            e.values.hasOwnProperty("ActCost")) {
            var totalSpan = e.container.closest("TR").find(".totalSpan");
            if (e.values.hasOwnProperty("Quantity") ||
                e.values.hasOwnProperty("Rebate")) {
                actRebt = parseFloat(100 - e.model.Rebate) / 100;
                acttotal = parseFloat(e.model.Cost * actRebt);
                e.model.set("ActCost", acttotal);
                e.model.set("TOTAL", (acttotal * e.values.Quantity).toFixed(2));
                totalSpan.html((acttotal * e.values.Quantity).toFixed(2));

            }
            else {
                e.model.set("ActCost", (e.model.Cost * ((100 - e.model.Rebate) / 100)));
                totalSpan.html(e.model.ActCost * e.values.Quantity);
                e.model.set("TOTAL", totalSpan.html());
            }
        }
    }

    function calculate(data) {
        var result = data.DelivPrice * data.Quantity;
        return result;
    }

    $(window).on("resize", function () {
        kendo.resize($(".chart-wrapper"));
    });

    $("#SalesRepID").on('change', function () {
        Getbudget();
    });

    function Getbudget() {
         var salerep = $("#SalesRepID").val();
          $.ajax({
            type: "POST",
            url: '@Url.Action("GetBudgetAmount", "SampleOrders")',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            processData: false,
              data: JSON.stringify({ Id: salerep }),
            error: function (e) {
                alert("No Budget Found!");
            },
              success: function (response) {
                  if (response == 0) {
                      document.getElementById('BudgetAmount').innerHTML = "Budget " + "0";
                     // alert("Budget Amount not Found!");
                  } else {
                      const myArr = response.split("|");
                      var msg    = myArr[0];
                      var bln    = myArr[1];
                      var budget = myArr[2];
                      var Ptype  = myArr[3];
                      var frTo   = myArr[4];
                      //alert(msg);
                      document.getElementById('BudgetAmount').innerHTML = "Budget " + budget + ' |' + ' Balance ' + bln + ' - ' +
                          '<small>' + Ptype + ' ( '+ frTo + ') ' + '</small>' ;
                  }
            }
          })
    }

//$("#save").on("click", function () {
    function savedata() {
            if (Validate()) {
            var validator = $("#salesgrid").kendoValidator({
                rules: {
                    salesgrid: function (item) {
                        if (item.is('[id="salesgrid"]')) {
                            var grid = item.getKendoGrid();
                            var oldproduct = grid.dataSource.data();
                            if (oldproduct.length > 0) {
                                for (var x = 0; x < oldproduct.length; x++) {
                                    var dataItem = oldproduct[x];
                                     if (dataItem.Quantity == 0 || dataItem.Quantity == "undefined" || dataItem.Quantity == null  ||
                                        dataItem.Rebate == 0 || dataItem.Rebate == "undefined" || dataItem.Rebate == null )
                                    {
                                        alert("Please Enter Qty & Rebate");
                                        //qty.addClass("color");
                                        //rebate.addClass("color");
                                        return false;

                                    }
                                    //else {
                                    //    qty.removeClass("color");
                                    //    rebate.removeClass("color");
                                    //    return true;
                                    //}
                                }
                            }
                            return oldproduct.length > 0;
                        }
                        return true;
                    }

                },
                messages: {
                   // salesgrid: 'There is no sample request to dispaly. Please add atleast one product'
                    salesgrid: 'Please add at least one product with quantity and rebate'
                }
            }).data("kendoValidator");
             //  var summary = $('#validation-summary');
            // var isValid = validator.validate() && validator.validateInput($("#salesgrid"));
            var isValid = validator.validateInput($("#salesgrid"));
            if (isValid) {
                if (confirm("Do you want to save Product Items ?")) {
                    sendData();
                }
            }
            //});
        }
    };

    function IsNumeric(val) {
        return Number(parseFloat(val)) === val;
    }
    $('#filterproduct').on('input', function (e) {
        var grid = $('#salesgrid').data('kendoGrid');
        var columns = grid.columns;

        var filter = { logic: 'or', filters: [] };
        columns.forEach(function (x) {
            if (x.field) {
                var type = grid.dataSource.options.schema.model.fields[x.field].type;
                if (type == 'string') {
                    filter.filters.push({
                        field: x.field,
                        operator: 'contains',
                        value: e.target.value
                    })
                }
                else if (type == 'number') {
                    if (IsNumeric(e.target.value)) {
                        filter.filters.push({
                            field: x.field,
                            operator: 'eq',
                            value: e.target.value
                        });
                    }
                }
                else if (type == 'date') {
                    var data = grid.dataSource.data();
                    for (var i = 0; i < data.length; i++) {
                        var dateStr = kendo.format(x.format, data[i][x.field]);
                        if (dateStr.startsWith(e.target.value)) {
                            filter.filters.push({
                                field: x.field,
                                operator: 'eq',
                                value: data[i][x.field]
                            })
                        }
                    }
                } else if (type == 'boolean' && getBoolean(e.target.value) !== null) {
                    var bool = getBoolean(e.target.value);
                    filter.filters.push({
                        field: x.field,
                        operator: 'eq',
                        value: bool
                    });
                }
            }
        });
        grid.dataSource.filter(filter);
    });
    // search For Customers Grid
    $('#customergrid').on('input', function (e) {

        var grid = $('#customergrid').data('kendoGrid');
        var columns = grid.columns;

        var custfilter = { logic: 'or', filters: [] };
        columns.forEach(function (x) {
            if (x.field) {
                var type = grid.dataSource.options.schema.model.fields[x.field].type;
                if (type == 'string') {
                    custfilter.filters.push({
                        field: x.field,
                        operator: 'contains',
                        value: e.target.value
                    })
                }
                else if (type == 'number') {
                    if (IsNumeric(e.target.value)) {
                        custfilter.filters.push({
                            field: x.field,
                            operator: 'eq',
                            value: e.target.value
                        });
                    }
                }
                else if (type == 'date') {
                    var data = grid.dataSource.data();
                    for (var i = 0; i < data.length; i++) {
                        var dateStr = kendo.format(x.format, data[i][x.field]);
                        if (dateStr.startsWith(e.target.value)) {
                            custfilter.filters.push({
                                field: x.field,
                                operator: 'eq',
                                value: data[i][x.field]
                            })
                        }
                    }
                } else if (type == 'boolean' && getBoolean(e.target.value) !== null) {
                    var bool = getBoolean(e.target.value);
                    custfilter.filters.push({
                        field: x.field,
                        operator: 'eq',
                        value: bool
                    });
                }
            }
        });
        grid.dataSource.filter(custfilter);
    });</script>

<script>
    function sendData() {

        jQuery.fn.serializeObject = function () {
            var arrayData, objectData;
            arrayData = this.serializeArray();
            objectData = {};

            $.each(arrayData, function () {
                var value;

                if (this.value != null) {
                    value = this.value;
                } else {
                    value = '';
                }

                if (objectData[this.name] != null) {
                    if (!objectData[this.name].push) {
                        objectData[this.name] = [objectData[this.name]];
                    }

                    objectData[this.name].push(value);
                } else {
                    objectData[this.name] = value;
                }
            });

            return objectData;
        };
                var progrid  = $("#salesgrid").data("kendoGrid");
                var custgrid = $("#customergrid").data("kendoGrid");

                // get the new and the updated records from Product Grid
                var procurrentData = progrid.dataSource.data();
                var proupdatedRecords = [];
                var pronewRecords = [];

                var custcurrentData = custgrid.dataSource.data();
                var custupdatedRecords = [];
                var custnewRecords = [];

                for (var i = 0; i < procurrentData.length; i++) {
                    //if (procurrentData[i].isNew()) {
                    //    //this record is new
                    //    pronewRecords.push(procurrentData[i].toJSON());
                    //}
                    //else if (procurrentData[i].dirty) {
                        proupdatedRecords.push(procurrentData[i].toJSON());
                    /*}*/
                }

                //this records are deleted
                var prodeletedRecords = [];
                for (var i = 0; i < progrid.dataSource._destroyed.length; i++) {
                    prodeletedRecords.push(progrid.dataSource._destroyed[i].toJSON());
                }


                for (var i = 0; i < custcurrentData.length; i++) {
                    custnewRecords.push(custcurrentData[i].toJSON());
                    //if (custcurrentData[i].isNew()) {
                    //    //this record is new
                    //    custnewRecords.push(custcurrentData[i].toJSON());
                    //}else
                    //if (custcurrentData[i].dirty) {
                    //    custupdatedRecords.push(custcurrentData[i].toJSON());
                    //}

                }


                //this records are deleted
                var custdeletedRecords = [];
                for (var i = 0; i < custgrid.dataSource._destroyed.length; i++) {
                    custdeletedRecords.push(custgrid.dataSource._destroyed[i].toJSON());
                }

                var serializedData = $("#samplehdrdata").serializeObject();
                var model = {};
                //pass header data to  model variable
                model.InsertAgent = serializedData.InsertAgent;
                model.Reasonforsample = serializedData.Reasonforsample;
                model.SalesRepID = serializedData.SalesRepID;
                model.SalesorderTypeID = serializedData.SalesorderTypeID;
                model.Status = serializedData.Status;
                model.TxnDate = serializedData.TxnDate;
                model.DriverId = serializedData.DriverId;
                model.RequestNo = serializedData.RequestNo;
                model.Comments = serializedData.Comments;

                model.SalesOrderRequestProducts = proupdatedRecords;
                model.SalesOrderRequestCustomers = custnewRecords;

                model.DeleteProducts = prodeletedRecords;
                model.DeleteCustomers = custdeletedRecords;

                var items = JSON.stringify(model);

               $.ajax({
                   type: "POST",
                    url: '@Url.Action("UpdateCreateDelete", "SampleOrders")',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    processData: false,
                    data: items,
                    error: function (e) {
                        alert(data + 'Er');
                    },
                   success: function (response) {
                       alert("Sales orders Request successful submitted!");
                       window.location.href = "/SampleOrders/Edit?pId=" + response;
                        //progrid.dataSource._destroyed = [];
                        //custgrid.dataSource._destroyed = [];
                        ////refresh the grid - optional
                        //progrid.dataSource.read();
                        //custgrid.dataSource.read();
                    }
                })
    }
</script>
<script>

    function clean(item) {

        var tempArr = [];
        for (var i = 0; i < item.length; i++) {
            if (item[i] !== undefined && item[i] != "") {
                tempArr.push(item[i]);
            }
        }
        return tempArr;
    }
    function removeDuplicates(array) {
        return array.filter((a, b) => array.indexOf(a) === b)
    };

    $("#addbtnproduct").on("click", function (e) {

        var grid = $("#modalproductgrid").data("kendoGrid");
        var Tgrid = $("#salesgrid").data("kendoGrid");
        var TgridDataSource = Tgrid.dataSource;
        var oldproduct = TgridDataSource.data();

        TgridDataSource.unbind("change", Tgrid._refreshHandler);
        var rows = grid.select();

        var filterarry = [];
        var filterarrynew = [];
        filterarrynew = clean(selectedrow);
        filterarry = removeDuplicates(filterarrynew);

        //for (var x = 0; x < rows.length; x++) {
        //    var dataItem = grid.dataItem(rows[x]);
        for (var x = 0; x < filterarry.length; x++) {

            // var dataItem = grid.dataItem(filterarry[x]);
            var dataItem = filterarry[x];
            //Get ProductName
            var UID = dataItem.uid;

            var PackageId = dataItem.PackageId;
            var PackageName = dataItem.PackageName;
            var ProductID = dataItem.ProductID;
            var ProductName = dataItem.ProductName;
            //var Quantity = dataItem.Quantity;
            var Quantity = 1;
            var Cost = dataItem.Cost;
            //var Rebate = dataItem.Rebate;
            var Rebate = 50;
            var TOTAL = dataItem.TOTAL;
            /* var TotalAmount = dataItem.TotalAmount;*/
            var SKU = dataItem.SKU;
            var Description = dataItem.Description;
            var DelivPrice = dataItem.DelivPrice;
            var Bin = dataItem.Bin;
            var ActCost = 0;
            var QTA = dataItem.AvaliableQty;

            if (oldproduct.length == 0) {
                var newRow = TgridDataSource.add({ PackageId: PackageId, PackageName: PackageName, ProductID: ProductID, ProductName: ProductName, Quantity: Quantity, Cost: Cost, Rebate: Rebate, TOTAL: TOTAL, SKU: SKU, Description: Description, DelivPrice: DelivPrice, Bin: Bin, ActCost: ActCost, AvaliableQty: QTA });

                //var newRow = TgridDataSource.insert(0,{ PackageId: PackageId, PackageName: PackageName, ProductID: ProductID, ProductName: ProductName, Quantity: Quantity, Cost: Cost, Rebate: Rebate, TOTAL: TOTAL, SKU: SKU, Description: Description, DelivPrice: DelivPrice, Bin: Bin, ActCost: ActCost, AvaliableQty: QTA });
                //newUUID.push("[data-uid='" + newRow.uid + "']");
                //$("[data-uid='" + newRow.uid + "']").addClass('newRow');

                $(TgridDataSource.tbody)
                    .find("tr").removeClass("new-row")
                    .filter('tr[data-uid="' + newRow.uid + '"]').addClass("new-row"); // Add class to the new row

                //TgridDataSource.insert(0, { PackageId: PackageId, PackageName: PackageName, ProductID: ProductID, ProductName: ProductName, Quantity: Quantity, Cost: Cost, Rebate: Rebate, TOTAL: TOTAL, TotalAmount: TotalAmount });
                // TgridDataSource.add({ PackageId: PackageId, PackageName: PackageName, ProductID: ProductID, ProductName: ProductName, Quantity: Quantity, Cost: Cost, Rebate: Rebate, TOTAL: TOTAL, SKU: SKU, Description: Description, DelivPrice: DelivPrice, Bin: Bin, ActCost: ActCost, AvaliableQty: QTA });
                // TgridDataSource.sync();
            }
            else {
                var result = false;
                for (var i = 0, length = oldproduct.length; i < length; i++) {

                    if (oldproduct[i].ProductName == dataItem.ProductName &&
                        oldproduct[i].ProductID == dataItem.ProductID) {
                        alert(ProductName + " Already Exit in product list");
                        result = true;
                    }
                }
                //  Insert New record into parent DataSource
                if (result == false) {
                    // TgridDataSource.add({ PackageId: PackageId, PackageName: PackageName, ProductID: ProductID, ProductName: ProductName, Quantity: Quantity, Cost: Cost, Rebate: Rebate, TOTAL: TOTAL, SKU: SKU, Description: Description, DelivPrice: DelivPrice, Bin: Bin, ActCost: ActCost, AvaliableQty: QTA });
                    //newUUID.push("[data-uid='" + newRow1.uid + "']");
                    //$("[data-uid='" + newRow1.uid + "']").addClass('newRow');

                    var newRow1 = TgridDataSource.add({ PackageId: PackageId, PackageName: PackageName, ProductID: ProductID, ProductName: ProductName, Quantity: Quantity, Cost: Cost, Rebate: Rebate, TOTAL: TOTAL, SKU: SKU, Description: Description, DelivPrice: DelivPrice, Bin: Bin, ActCost: ActCost, AvaliableQty: QTA });
                    $(TgridDataSource.tbody)
                        .find("tr").removeClass("new-row")
                        .filter('tr[data-uid="' + newRow1.uid + '"]').addClass("new-row"); // Add class to the new row

                    //TgridDataSource.view();
                    //TgridDataSource.insert(0, { PackageId: PackageId, PackageName: PackageName, ProductID: ProductID, ProductName: ProductName, Quantity: Quantity, Cost: Cost, Rebate: Rebate, TOTAL: TOTAL, TotalAmount: TotalAmount });
                    //TgridDataSource.add({ PackageId: PackageId, PackageName: PackageName, ProductID: ProductID, ProductName: ProductName, Quantity: Quantity, Cost: Cost, Rebate: Rebate, TOTAL: TOTAL, SKU: SKU, Description: Description, DelivPrice: DelivPrice, Bin: Bin, ActCost: ActCost, AvaliableQty: QTA });
                    //TgridDataSource.sync();
                }

            }
        }

        $("#modalproductgrid").data("kendoGrid").dataSource.filter({});  // Clear grid Filters \\
        grid._selectedIds = {};                                         //                      \\
        grid.clearSelection();                                         //  Clear selected rows   \\
        $('#modal-product').modal('toggle');                          //   Close modal form       \\
        // Tgrid.dataSource.sync();                                  //    Syn Datasource          \\
        TgridDataSource.bind("change", Tgrid._refreshHandler);
        Tgrid.hideColumn("Cost");
        TgridDataSource.fetch();
        TgridDataSource.sort({ field: "Quantity", dir: "asc" });
        selectedrow.length = 0;
        filterarry.length = 0;
        filterarrynew.length = 0;
        TgridDataSource.sync();
        //Tgrid.dataSource._destroyed = [];
    })

    $("#addbtncustomer").on("click", function (e) {
        var grid = $("#modalcustomergrid").data("kendoGrid");
        var Tgrid = $("#customergrid").data("kendoGrid");
        var TgridDataSource = Tgrid.dataSource;
        var oldcustomer = TgridDataSource.data();
        TgridDataSource.unbind("change", Tgrid._refreshHandler);
        var rows = grid.select();

        var custfilterarry = [];
        var custfilterarryNew = [];
        custfilterarryNew = clean(Customerselectedrow);
        custfilterarry = removeDuplicates(custfilterarryNew);

        for (var x = 0; x < custfilterarry.length; x++) {
            //Get DataItem from SelectItems
            var dataItem = custfilterarry[x];
            //Get ProductName

            var CustomerId = dataItem.CustomerId;
            var CustomerName = dataItem.CustomerName;
            var ShipToAddressId = dataItem.ShipToAddressId;
            var ShipToAddressee = dataItem.ShipToAddressee;

            if (oldcustomer.length == 0) {
                var newRow = TgridDataSource.add({ CustomerId: CustomerId, CustomerName: CustomerName, ShipAddressId: ShipToAddressId, ShipAddress: ShipToAddressee });
                $(TgridDataSource.tbody)
                    .find("tr").removeClass("new-row")
                    .filter('tr[data-uid="' + newRow.uid + '"]').addClass("new-row"); // Add class to the new row
            }
            else {
                var result = false;
                for (var i = 0, length = oldcustomer.length; i < length; i++) {

                    if (oldcustomer[i].CustomerName == dataItem.CustomerName &&
                        oldcustomer[i].CustomerId == dataItem.CustomerId) {
                        alert(CustomerName + " Already Exit in Customer list");
                        result = true;
                    }
                }
                //  Insert New record into parent DataSource
                if (result == false) {
                    var newRow1 = TgridDataSource.add({ CustomerId: CustomerId, CustomerName: CustomerName, ShipAddressId: ShipToAddressId, ShipAddress: ShipToAddressee });
                    $(TgridDataSource.tbody)
                        .find("tr").removeClass("new-row")
                        .filter('tr[data-uid="' + newRow1.uid + '"]').addClass("new-row"); // Add class to the new row
                }

            }

            //Insert New record into parent DataSource
            //TgridDataSource.add({ CustomerId: CustomerId, CustomerName: CustomerName, ShipAddressId: ShipToAddressId, ShipAddress: ShipToAddressee });
        }

        $("#modalcustomergrid").data("kendoGrid").dataSource.filter({});   //Clear grid Filters
        grid._selectedIds = {};
        grid.clearSelection();                                             // Clear selected rows
        $('#modal-Customer').modal('toggle');                              // Close modal form
        TgridDataSource.bind("change", Tgrid._refreshHandler);
        TgridDataSource.fetch();
        custfilterarry.length = 0;
        custfilterarryNew.length = 0;
        Customerselectedrow.length = 0;
    })
    $("#addbtnAssignedCustomer").on("click", function (e) {
        var grid = $("#modalassignedcustomergrid").data("kendoGrid");
        var Tgrid = $("#customergrid").data("kendoGrid");
        var TgridDataSource = Tgrid.dataSource;
        var oldcustomer = TgridDataSource.data();
        TgridDataSource.unbind("change", Tgrid._refreshHandler);
        var rows = grid.select();


        var ascustfilterarry = [];
        var ascustfilterarryNew = [];
        ascustfilterarryNew = clean(Assignedselectedrow);
        ascustfilterarry = removeDuplicates(ascustfilterarryNew);


        for (var x = 0; x < ascustfilterarry.length; x++) {
            //Get DataItem from SelectItems
            var dataItem = ascustfilterarry[x];
            //Get ProductName

            var CustomerId = dataItem.CustomerId;
            var CustomerName = dataItem.CustomerName;
            var ShipToAddressId = dataItem.ShipToAddressId;
            var ShipToAddressee = dataItem.ShipToAddressee;

            if (oldcustomer.length == 0) {
                var newRow = TgridDataSource.add({ CustomerId: CustomerId, CustomerName: CustomerName, ShipAddressId: ShipToAddressId, ShipAddress: ShipToAddressee });
                $(TgridDataSource.tbody)
                    .find("tr").removeClass("new-row")
                    .filter('tr[data-uid="' + newRow.uid + '"]').addClass("new-row"); // Add class to the new row
            }
            else {
                var result = false;
                for (var i = 0, length = oldcustomer.length; i < length; i++) {

                    if (oldcustomer[i].CustomerName == dataItem.CustomerName &&
                        oldcustomer[i].CustomerId == dataItem.CustomerId) {
                        alert(CustomerName + " Already Exit in Customer list");
                        result = true;
                    }
                }
                //  Insert New record into parent DataSource
                if (result == false) {
                    var newRow1 = TgridDataSource.add({ CustomerId: CustomerId, CustomerName: CustomerName, ShipAddressId: ShipToAddressId, ShipAddress: ShipToAddressee });
                    $(TgridDataSource.tbody)
                        .find("tr").removeClass("new-row")
                        .filter('tr[data-uid="' + newRow1.uid + '"]').addClass("new-row"); // Add class to the new row
                }
            }
        }

        $("#modalassignedcustomergrid").data("kendoGrid").dataSource.filter({});   //Clear grid Filters
        grid._selectedIds = {};
        grid.clearSelection();                                                    // Clear selected rows
        $('#modal-AssignedCustomer').modal('toggle');                            // Close modal form
        TgridDataSource.bind("change", Tgrid._refreshHandler);
        TgridDataSource.fetch();
        ascustfilterarry.length = 0;
        ascustfilterarryNew.length = 0;
        Assignedselectedrow.length = 0;
    })

    //function clearrow() {
    //    //var view = clargrid.dataSource.view();
    //    //for (var i = 0; i < view.length; i++) {
    //    //   this.tbody.find("tr[data-uid='" + view[i].uid + "']").removeClass("k-state-selected");
    //    //}
    //
    //    //grid = $("#modalproductgrid").data("kendoGrid");
    //    //for (var i = 0; i < clargrid.dataSource.data().length; i++) {
    //    //    var item = clargrid.dataSource.data()[i];
    //    //    var row = clargrid.element.find("tr[data-uid='" + item.uid + "']").removeClass("k-state-selected");
    //    //    var checkBox = row.find(".selectChkbox");
    //    //}
    //
    //    var grid = $("#modalproductgrid").data("kendoGrid");
    //    var view = grid.dataSource.view();
    //    for (var i = 0; i < view.length; i++) {
    //        if (checkedIds[view[i].id]) {
    //            grid.tbody.find("tr[data-uid='" + view[i].uid + "']").removeClass("k-state-selected");
    //        }
    //    }
    //}
</script>


<script type="text/javascript">
    //Clear Query String after saving data
    function ClearQuery() {
        var uri = window.location.toString();
        if (uri.indexOf("?") > 0) {
            var clean_uri = uri.substring(0, uri.indexOf("?"));
            window.history.replaceState({}, document.title, clean_uri);
        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
    $(document).ready(function () {



        //var isMobile = Boolean(kendo.support.mobileOS);
        //if (isMobile) {
        //    $("#qr-wrap").hide();
        //    $("#grid-wrap").show();

        //    $("#salesgrid").data("kendoGrid").resize();
        //    $("#customergrid").data("kendoGrid").resize();

        //    //Modal Grid for mobile layout
        //    $("modalcustomergrid").data("kendoGrid").resize();
        //    $("modalproductgrid").data("kendoGrid").resize();
        //}

        var salerep = $("#SalesRepID").val();
        if (salerep != '00000000-0000-0000-0000-000000000000') {
            Getbudget();
        }

        //$("#modalproductgrid").kendoGrid({
        //    sortable: true,
        //    filterable: true
        //});
        // $("modalproductgrid").data("kendoGrid").dataSource.sort({ field: "Description", dir: "asc" });


    });


</script>


<script>

    $(function () {
        $.validator.setDefaults({
            submitHandler: function () {
                //  alert("Form successful submitted!");
            }
        });
        $('#samplehdrdata').validate({
            rules: {
                Status: {
                    required: true
                },
                SalesRepID: {
                    required: {
                        depends: function (element) {
                            if ('00000000-0000-0000-0000-000000000000' == $('#SalesRepID').val()) {
                                //Set predefined value to blank.
                                $('#SalesRepID').val('');
                            }
                            return true;
                        }
                    }
                },
                TxnDate: {
                    required: {
                        depends: function (element) {
                            if ('' == $('#TxnDate').val()) {
                                $('#TxnDate').val('');
                            }
                            return true;
                        }
                    }
                },
                DriverId: {
                    required: {
                        depends: function (element) {
                            if ('00000000-0000-0000-0000-000000000000' == $('#DriverId').val()) {
                                $('#DriverId').val('');
                            }
                            return true;
                        }
                    }
                },
                //terms: {
                //    required: true
                //},
            },
            messages: {
                TxnDate: {
                    required: "Please select Planned Sample Date",
                },
                SalesRepID: {
                    required: "Please select sales rep",
                    //minlength: "Your password must be at least 5 characters long"
                },
                DriverId: {
                    required: "Please select Driver",
                },
                branch: {
                    required: "Please select branch",
                },
                Status: "Please enter status"
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });
</script>