﻿@model SampleOrders
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" id="Printable">
                <div class="callout callout-success">
                    @*<h5 style="text-align:center"><i class="fas fa-wine-bottle"></i> Sample Wine Company</h5>*@
                    <h5>Sample Wine Company</h5>
                    123 Anyroad, Any Town PA, 99999 USA
                </div>
                <!-- Main content -->
                <div class="invoice p-3 mb-3" >
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                @*<i class="fas fa-globe"></i> @Model.RequestNo*@
                                @*<small class="float-right">Date: @Html.DisplayFor(item => item.TxnDate)</small>*@
                                @if (@Model.Status == 1)
                                {<small class="float-right">Status: New Request</small>}
                                else
                                {<small class="float-right">Status: Approved</small>}
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            <b>Request No # @Model.RequestNo</b><br>
                            @*@if (@Model.Status == 1)
                            {<b>Status: New Request</b>}
                            else
                            {<b>Status: Approved</b>}*@
                            <br>
                            <br>
                            @*<b>Branch # @Model.SalesorderTypeID</b><br>*@
                            @*<b>Branch # SC</b><br>*@
                            <b>Sales Rep:</b> @Model.SalesRepName<br>
                            <b>Sample Date:</b> @Html.DisplayFor(item => item.TxnDate)<br>
                            @*<b>Reason for sampling:</b> @Model.Reasonforsample<br>*@

                            <br />
                        </div>
                    </div>
                    <div class="row" id="productdiv">
                        <div class="col-12 table-responsive">
                            <h3>Products Details</h3>
                            <table class="table table-striped" id="product">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>SKU</th>
                                        @*<th>Bin</th>*@
                                        <th>Package</th>
                                        <th>Quantity</th>
                                        <th>Rebate</th>
                                        @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "ClientAdmin" ||
                                             @HttpContextAccessor.HttpContext.Session.GetString("Role") == "Client") {
                                        <th>Cost</th>
                                        <th>price</th>
                                        <th>Total</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in Model.SalesOrderRequestProducts)
                                    {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => product.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => product.SKU)
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => product.Bin)
                                    </td>*@

                                    <td>
                                        @Html.DisplayFor(modelItem => product.PackageName)
                                    </td>
                                      <td>
                                        @Html.DisplayFor(modelItem => product.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => product.Rebate)
                                    </td>
                                      @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "ClientAdmin" ||
                                             @HttpContextAccessor.HttpContext.Session.GetString("Role") == "Client") {
                                    <td>
                                        @Html.DisplayFor(modelItem => product.Cost)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => product.DelivPrice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => product.TOTAL)
                                        <input id="total" name="total" type="hidden" value=@product.TOTAL />
                                    </td>
                                    }
                                </tr>
                                }
                                      @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "ClientAdmin" ||
                                         @HttpContextAccessor.HttpContext.Session.GetString("Role") == "Client")
                                      {
                                    <tr>
                                        <th colspan="7" style="text-align:right">Total:</th>
                                        <th colspan="7" style="text-align:center"><span id="sum"></span></th>
                                    </tr>
                                      }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="row" id="customerdiv">
                        <div class="col-12 table-responsive">
                            <h3>Customer Details</h3>

                            <table class="table table-striped" id="customertbl">
                                <thead>
                                    <tr>
                                        <th>Customer</th>
                                        <th>Ship Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var customer in Model.SalesOrderRequestCustomers)
                                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => customer.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => customer.ShipAddress)
                            </td>
                        </tr>}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- this row will not appear when printing //onclick="window.print()" -->
                    <div class="row no-print">
                        <div class="col-12">
                            <a class="btn btn-default" onclick="printDiv('Printable')"><i class="fas fa-print"></i> Print</a>
                            <a asp-action="Index" method="post" class="btn btn-danger float-right">Close</a>
                        </div>
                    </div>
                </div>
                <!-- /.invoice -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }

    $(document).ready(function () {
        var sum = 0;
        var $tblrows = $("#product tbody tr");
        $tblrows.each(function (index) {
            var $tblrow = $(this);
            var total = $tblrow.find("[name=total]").val();
            if (!isNaN(total) && total.length !== 0) {
                sum += parseFloat(total);
            }
         });     
        $('#sum').text(sum.toFixed(2));

        Hidetable();

    });

    function Hidetable() {
       
        var productlen = $('#product tr');
        var customerlen = $('#customertbl tr')

        if (productlen.length > 1) {
                $('#product').show();
                $('#productdiv').show();
            } else {
                $('#product').hide();
                $('#productdiv').hide();
        }

        if (customerlen.length > 1) {
            $('#cutomertbl').show();
            $('#customerdiv').show();
        } else {
            $('#cutomertbl').hide();
            $('#customerdiv').hide();
        }
        
    }
</script>