﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model SampleOrdersTrackingSystem.Models.PurchaseOrders
@using Kendo.Mvc.UI


<style>
    .divspace {
        display: flex;
        display: flex;
        justify-content: space-between;
    }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.all.min.js"></script>
<div class="card card-default">
    @*<div class="card-header">*@
    @*<h1 class="card-title">Purchase Orders</h1>*@
    @*<div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>*@
    @*</div>*@
    <form id="Edithdrdata">
        <div class="card-body">
            <div class="hide">
                <input type="hidden" asp-for="@Model.InsertAgent" value="@HttpContextAccessor.HttpContext.Session.GetString("Uname")" />
                <input name="Id" type="hidden" asp-for="@Model.Id" />
                <input name="venderId" type="hidden" asp-for="@Model.VendorId" />
            </div>
            <h1 style="color:gray"><b>Purchase Orders</b></h1>
            <div class="form-row">
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="lbldate" class="">Date</label>
                            <input name="Date" id="Date" placeholder="DATE" type="date" class="form-control" asp-for="@Model.Date">
                        </div>
                        <div class="position-relative form-group">
                            <label for="lblp" class="">P.O.No</label>
                            <input name="PONO" id="PONO" placeholder="P.O.NO" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="lbldate" class="">Vendor</label>
                            @*<input name="Vendor" id="Vendor" placeholder="Vendor" type="text" class="form-control" asp-for="@Model.VendorName">*@
                            <textarea id="Vendor" asp-for="@Model.VendorName" class="form-control" style="width: 100%; height:150px" required data-required-msg="Please enter a text." data-max-msg="Enter value between 1 and 200" placeholder="Vendor"></textarea>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="examplePassword11" class="">Ship To</label>
                            @*<input name="ShipTo" id="ShipTo" placeholder="ShipTo" type="text" class="form-control" asp-for="@Model.VendorName">*@
                            <textarea id="ShipTo" asp-for="@Model.ShipToEntityId" class="form-control" style="width: 100%; height:150px" required data-required-msg="Please enter a text." data-max-msg="Enter value between 1 and 200" placeholder="Ship To"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="lblcustomerterm" class="">Terms</label>
                            <select asp-for="@Model.TermsId" class="form-control" id="ddlTermsId"
                                    asp-items="@(new SelectList(ViewBag.customTermsComboList,"Id","Name"))"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="lblshipmethod" class="">Ship Via</label>
                            <div class="position-relative form-group">
                                <select asp-for="@Model.ShipMethodId" class="form-control" id="ddlshipmethod"
                                        asp-items="@(new SelectList(ViewBag.shipViaComboList,"ShipMethodId","Shipvia"))"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="lblexedur" class="">Expected Due</label>
                            <div class="position-relative form-group">
                                <input name="DueDate" id="DueDate" placeholder="DueDate" type="date" class="form-control" asp-for="@Model.DueDate">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="divspace">
                                    <p class="text-white" style="margin-left:0.5em;margin-top:0.8em">Product Details</p>
                                    <input id='filter' class="form-control rounded" type="search" placeholder="Search" aria-label="Search" style="width:15%;margin-top:0.5em">
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default">
                                        Select Products
                                    </button>
                                </div>
                                <table class="table table-hover text-nowrap">
                                @(Html.Kendo().Grid<PurchaseOrderLineItems>()
                                .Name("Pogrid")
                                .Columns(columns =>
                                {
                                    columns.Bound(p => p.Id).Hidden();
                                    columns.Bound(p => p.PurchaseOrderId).Hidden();
                                    columns.Bound(p => p.CustomerId).Hidden();
                                    columns.Bound(p => p.SKU).Width(100).Title("SKU").Editable("function(dataItem, additionalParam) { return otherFunction(dataItem, additionalParam); }");
                                    columns.Bound(p => p.Description).Width(200).Editable("function(dataItem, additionalParam) { return otherFunction(dataItem, additionalParam); }");
                                    columns.Bound(p => p.Price).Width(60);
                                    columns.Bound(p => p.Quantity).Width(80).Title("Quantity");
                                    columns.Command(command => { command.Destroy(); }).Width(200);
                                })
                                .Editable(editable => editable.Mode(GridEditMode.InCell))
                                .Pageable()
                                .Mobile()
                                .Navigatable()
                                .Sortable()
                                .Groupable()
                                .Filterable()
                                .Resizable(resize => resize.Columns(true))
                                .Scrollable(scrollable => scrollable.Height(200))
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Batch(true)
                                .PageSize(10)
                                .ServerOperation(false)
                                .Events(events => events.Error("error_handler"))
                                .Model(model =>
                                {
                                    model.Id(p => p.Id);
                                    model.Field(p => p.Id).Editable(false);
                                })
                                .Read(read => read.Action("PurchaseOrder_Edit", "PurchaseOrder", new { Id = @ViewBag.vendorId }))
                                )
                               )
                               </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input id="save" class="btn btn-primary" value="Save" type="button" />
                    <a asp-action="Index" method="post" class="btn btn-danger">Close</a>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- modal form  -->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="height:100%;width:100%">
            <div class="modal-header">
                <h4 class="modal-title">Products Details for Multiple Selection</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <table class="table table-hover text-nowrap">
                        @(Html.Kendo().Grid<SampleOrdersTrackingSystem.Models.ProductModel>()
                        .Name("modalgrid")
                        .Columns(columns =>
                        {
                            columns.Select().Width(50);
                            columns.Bound(p => p.Id).Hidden();
                            columns.Bound(p => p.SKU).Width(100).Title("SKU");
                            columns.Bound(p => p.ProductName).Title("Description").Width(200);
                            columns.Bound(p => p.DelivPrice).Title("Price").Width(60);
                            columns.Bound(p => p.Quantity).Width(60).Title("Quantity");

                        })
                        .Pageable()
                        .Sortable()
                        .PersistSelection()
                        .Scrollable()
                        .Filterable()

                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(10)
                      
                        .Read(read => read.Action("ProductModal_Read", "ModalFill"))
                        )
                        )
                    </table>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" id="addbtn">Add</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<script>
    $("#save").on("click", function () {
        sendData();
    });

    function IsNumeric(val) {
        return Number(parseFloat(val)) === val;
    }


    $('#filter').on('input', function (e) {
        debugger
        var grid = $('#Pogrid').data('kendoGrid');
        var columns = grid.columns;

        var filter = { logic: 'or', filters: [] };
        columns.forEach(function (x) {
            if (x.field) {
                var type = grid.dataSource.options.schema.model.fields[x.field].type;
                if (type == 'string') {
                    filter.filters.push({
                        field: x.field,
                        operator: 'contains',
                        value: e.target.value
                    })
                }
                else if (type == 'number') {
                    if (IsNumeric(e.target.value)) {
                        filter.filters.push({
                            field: x.field,
                            operator: 'eq',
                            value: e.target.value
                        });
                    }
                }
                else if (type == 'date') {
                    var data = grid.dataSource.data();
                    for (var i = 0; i < data.length; i++) {
                        var dateStr = kendo.format(x.format, data[i][x.field]);
                        if (dateStr.startsWith(e.target.value)) {
                            filter.filters.push({
                                field: x.field,
                                operator: 'eq',
                                value: data[i][x.field]
                            })
                        }
                    }
                } else if (type == 'boolean' && getBoolean(e.target.value) !== null) {
                    var bool = getBoolean(e.target.value);
                    filter.filters.push({
                        field: x.field,
                        operator: 'eq',
                        value: bool
                    });
                }
            }
        });
        grid.dataSource.filter(filter);
    });
</script>

<script>
    function sendData() {
        debugger
        jQuery.fn.serializeObject = function () {
            var arrayData, objectData;
            arrayData = this.serializeArray();
            objectData = {};

            $.each(arrayData, function () {
                var value;

                if (this.value != null) {
                    value = this.value;
                } else {
                    value = '';
                }

                if (objectData[this.name] != null) {
                    if (!objectData[this.name].push) {
                        objectData[this.name] = [objectData[this.name]];
                    }

                    objectData[this.name].push(value);
                } else {
                    objectData[this.name] = value;
                }
            });

            return objectData;
        };
        debugger
            var grid = $("#Pogrid").data("kendoGrid");
            //  parameterMap = grid.dataSource.transport.parameterMap;

                //get the new and the updated records
                var currentData = grid.dataSource.data();
                var updatedRecords = [];
                var newRecords = [];


                for (var i = 0; i < currentData.length; i++) {
                    if (currentData[i].isNew()) {
                        //this record is new
                        newRecords.push(currentData[i].toJSON());
                    }
                    else if (currentData[i].dirty) {
                        updatedRecords.push(currentData[i].toJSON());
                    }
                }

                //this records are deleted
                var deletedRecords = [];
                for (var i = 0; i < grid.dataSource._destroyed.length; i++) {
                    deletedRecords.push(grid.dataSource._destroyed[i].toJSON());
                }

                var serializedData = $("#Edithdrdata").serializeObject();

            debugger
            var model = {};
            //pass all you data to an object
            model.Id = serializedData.Id;
            model.VendorId = serializedData.venderId;
            model.TermsId = serializedData.TermsId;
            model.Date = serializedData.Date;
            model.DueDate = serializedData.DueDate;
            model.InsertAgent = serializedData.InsertAgent;
            model.ShipMethodId = serializedData.ShipMethodId;
            model.PurchaseOrderLineItems = updatedRecords;

            // model.DeletedBudgetLine = deletedRecords;
            var items = JSON.stringify(model);
        
            $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateCreateDelete", "PurchaseOrder")',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            processData: false,
                data: items,
            error: function (e) {
                alert(data + 'Er');
            },
            success: function () {
                alert(data + 'scusc');
                grid.dataSource._destroyed = [];
                //refresh the grid - optional
                grid.dataSource.read();
                       
            }

            })
    }

</script>

<script>

    $("#addbtn").on("click", function (e) {
        var grid = $("#modalgrid").data("kendoGrid");
        var Tgrid = $("#Pogrid").data("kendoGrid");
        var TgridDataSource = Tgrid.dataSource;
        TgridDataSource.unbind("change", Tgrid._refreshHandler);
        var rows = grid.select();

         for (var x = 0; x < rows.length; x++) {
            var dataItem = grid.dataItem(rows[x]);

            var SKU = dataItem.SKU; 
            var ProductID = dataItem.ProductID;
            var ProductName = dataItem.ProductName;
            var Quantity = dataItem.Quantity;
            var Cost = dataItem.DelivPrice;

            //Insert New record into parent DataSource
             TgridDataSource.insert(0, { SKU: SKU, ProductID: ProductID, Description: ProductName, Quantity: Quantity, Price: Cost });
        }

        $("#modalgrid").data("kendoGrid").dataSource.filter({}); //Clear grid Filters
        grid.clearSelection(); // Clear selected rows
        $('#modal-default').modal('toggle'); // Close modal form
        Tgrid.dataSource.sync();  // Syn Datasource
        TgridDataSource.bind("change", Tgrid._refreshHandler);
        //$("#Pogrid").getKendoGrid().refresh()
    })
</script>

<script type="text/javascript">
    //Clear Query String after saving data
    function ClearQuery() {
        var uri = window.location.toString();
        if (uri.indexOf("?") > 0) {
            var clean_uri = uri.substring(0, uri.indexOf("?"));
            window.history.replaceState({}, document.title, clean_uri);
        }
    }; 

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
    $(document).ready(function () {
        var isMobile = Boolean(kendo.support.mobileOS);
        if (isMobile) {
            $("#qr-wrap").hide();
            $("#grid-wrap").show();
            $("#Pogrid").data("kendoGrid").resize();
            $("#modalgrid").data("kendoGrid").resize();
        }
        ClearQuery(); // call clear Query string function
    });


</script>
