﻿@model IEnumerable<SampleOrdersTrackingSystem.Models.PurchaseOrders>
<!-- DataTables -->
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<div class="card card-default">
    @*<div class="card-header">
        <h3 class="card-title">Purchase Orders</h3>
        <div class="card-tools">
            @*<button type="button" class="btn btn-outline-info btn-block btn-flat" onclick="location.href='@Url.Action("PurchaseOrder", "PurchaseOrder")'"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add New</button>*@
@*<div class="card-tools">
             <button type="button" class="btn btn-tool" data-card-widget="collapse">
                 <i class="fas fa-minus"></i>
             </button>
             <button type="button" class="btn btn-tool" data-card-widget="remove">
                 <i class="fas fa-times"></i>
             </button>
    </div>*@
@*</div>*@
<form id="indexdata">
    <div class="card-body">
        <table id="potbl" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Vendor Name</th>
                    <th>Date</th>
                    <th>Due Date</th>
                    <th>Shipvia</th>
                    <th>Terms </th>
                    <th>Expected Due Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var purchaseOrders in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => purchaseOrders.VendorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => purchaseOrders.Date.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => purchaseOrders.DueDate.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => purchaseOrders.Shipvia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => purchaseOrders.TermsId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => purchaseOrders.ExpectedDate)
                        </td>


                        <td>
                            @*@Html.ActionLink("View", "View", new { id = purchaseOrders.Id }) |*@
                            @Html.ActionLink("Edit", "Edit", new { pId = purchaseOrders.VendorId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = purchaseOrders.Id }, new { onclick = "return confirm('Do you want to delete?');" })
                        </td>

                    </tr>
                }

            </tbody>
            <tfoot>
                <tr>
                    <th>Vendor Name</th>
                    <th>Date</th>
                    <th>Due Date</th>
                    <th>Shipvia</th>
                    <th>Terms </th>
                    <th>Expected Due Date</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </div>
</form>
</div>



<script>
    $(function () {
        $("#potbl").DataTable({
            "responsive": true, "lengthChange": true, "autoWidth": false, "scrollY": true,
            "scrollX": true, "info": true,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#potbl_wrapper .col-md-6:eq(0)');
    });
</script>