﻿@model IEnumerable<SampleOrdersTrackingSystem.Models.SampleOrders>

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!-- DataTables -->
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Approved Sample Request</h3>
    </div>
    <form id="indexdata">
        <div class="card-body">
            <div class="text-danger" style="text-align:center">@ViewBag.vmessage</div>
            <table id="salesordtbl" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Request No</th>
                        <th>Sales Rep</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sample in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => sample.TxnDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => sample.RequestNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => sample.SalesRepName)
                            </td>
                            <td>
                                @if (sample.Status == 1)
                                {<span class="badge badge-primary">New Request</span>}
                                else
                                {<span class="badge badge-info">Approved</span>}
                            </td>
                            <td>
                                @Html.ActionLink("View", "ApprovedView", new { pId = sample.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>

<script>
    $(function () {
        $("#salesordtbl").DataTable({
            "responsive": true, "lengthChange": true, "autoWidth": false, "scrollY": true,
            "scrollX": true, "info": true,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#salesordtbl_wrapper .col-md-6:eq(0)');
    });
</script>