﻿@model SampleOrders
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Kendo.Mvc.UI

<style>
    #productdiv {
        display: none;
    }

    #example {
        min-height: 350px;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="hide">
            <input type="hidden" asp-for="@Model.Id" id="salesreqid"/>
        </div>
            <div class="row">
                <div class="col-12" id="Printable">
                    <div class="callout callout-success">
                        @*<h5 style="text-align:center"><i class="fas fa-wine-bottle"></i> Sample Wine Company</h5>*@
                        <h5>Sample Wine Company</h5>
                        123 Anyroad, Any Town PA, 99999 USA
                    </div>
                    <!-- Main content -->
                    <div class="invoice p-3 mb-3">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-12">
                                <h4>
                                    @if (@Model.Status == 1)
                                    {<small class="float-right">Status: New Request</small>}
                                    else
                                    {<small class="float-right">Status: Approved</small>}
                                </h4>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-sm-4 invoice-col">
                                <b>Request No # @Model.RequestNo</b><br>
                                <br>
                                <b>Sales Rep:</b> @Model.SalesRepName<br>
                                <b>Sample Date:</b> @Html.DisplayFor(item => item.TxnDate)<br>
                                <b>Comment</b> @Model.Comments<br>
                                <br />
                            </div>
                        </div>


                        <div class="row no-print">
                            <div class="col-12 table-responsive">
                                <h3>Products Details</h3>
                                <div class="card">
                                    <div class="divspace" style="background-color:#3c8dbc">
                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-product">
                                            ADD Products
                                        </button>
                                    </div>
                                    <table class="table table-striped">
                                        @(Html.Kendo().Grid<SalesOrderRequestProduct>()
                                .Name("salesgrid")
                                .Columns(columns =>
                                {

                                    columns.Command(command => { command.Destroy().Text("&nbsp;").IconClass("k-icon k-i-trash"); }).Width(80);
                                    columns.Bound(p => p.Description).Width(250).Editable("notEditable");
                                    columns.Bound(p => p.SKU).Width(120).Editable("notEditable");
                                    columns.Bound(p => p.Bin).Width(120).Editable("notEditable");
                                    columns.Bound(p => p.PackageName).Width(180).Title("UOM").Editable("notEditable");

                                    columns.Bound(p => p.Quantity).Width(80).Title("Qty").Editable("notEditable");
                                    columns.Bound(p => p.Rebate).Width(120).Title("Rebate").Format("{0:#.## \\'%'}");
                                    columns.Bound(p => p.Cost).Width(120).Title("Cost").Editable("notEditable");

                                    columns.Bound(p => p.ApprovedQty).Width(180).Title("Approved Qty *");
                                    columns.Bound(p => p.AprovedCost).Width(180).Title("Approved Cost").Editable("notEditable");

                                    columns.Bound(p => p.ProductID).Hidden();
                                    columns.Bound(p => p.PackageId).Hidden();
                                    columns.Bound(p => p.DelivPrice).Width(180).Editable("notEditable").Title("Price").Hidden();

                                    columns.Bound(p => p.ProductName).Hidden();
                                    columns.Bound(o => o.ActCost).Title("Cost").Width(120)
                                    .ClientTemplate("#=calcActCost(data)#")
                                    .Editable("notEditable");

                                    columns.Bound(o => o.TOTAL)
                                    .ClientTemplate("#=calcColumns(data)#").Width(180)
                                    .Title("Amount")
                                    .Editable("notEditable")
                                    .ClientFooterTemplate("Total: #=sum#");
                                })
                                //.ToolBar(toolbar =>
                                //{
                                //    //toolbar.Create();
                                //    //toolbar.Save();
                                //})
                                .Editable(editable => editable.Mode(GridEditMode.InCell))
                                .Pageable()
                                .Sortable()
                                .Filterable()
                                .Scrollable(scrollable => scrollable.Height(180))
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Batch(true)
                                .PageSize(20)
                                .ServerOperation(false)
                                .Events(events => events.Error("error_handler"))
                                .Model(model =>
                                {
                                    model.Id(p => p.ProductID);
                                    model.Field(p => p.ProductID).Editable(false);
                                    model.Field(p => p.TOTAL);

                                })
                                .Read("Approval_ProductRead", "SalesOrderApproval", new { Id = @ViewBag.sampleid })
                                .Aggregates(aggregates =>
                                {
                                    aggregates.Add(p => p.TOTAL).Sum();
                                })
                                )
                                .Events(e => e.Save("onSave"))
                                )
                                    </table>
                                </div>
                            </div>
                        </div>
 

                        <div class="row" id="customerdiv">
                            <div class="col-12 table-responsive">
                                <h3>Customer Details</h3>
                                <table class="table table-striped" id="customertbl">
                                    <thead>
                                        <tr>
                                            <th>Customer</th>
                                            <th>Ship Address</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var customer in Model.SalesOrderRequestCustomers)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => customer.CustomerName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => customer.ShipAddress)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- this row will not appear when printing //onclick="window.print()" -->
                        <div class="row no-print">
                            <div class="col-12">
                                <input id="save" type="button" class="btn btn-primary" value="Save Product" onclick="sendData()" />
                                @*@if (@HttpContextAccessor.HttpContext.Session.GetString("Role") != "TeamMember" && Model.Status != 2)
                                {
                            <a href="@Url.Action("Approval", "SalesOrderApproval", new { pId = Model.Id })" onclick="return confirm('Sample Request approve?');" class="btn btn-success">
                                <i class="far fa-check-square"></i> Approval
                            </a>}*@ 
                               @*<a class="btn btn-light" onclick="printDiv('Printable')"><i class="fas fa-print"></i> Print</a>*@ 
                                   
                                @if (@Model.Status == 1)
                                {<a asp-action="Index" method="post" class="btn btn-danger float-right">Close</a>}
                                else
                                {<a asp-action="ApprovedSampleRequest" method="post" class="btn btn-danger float-right">Close</a>}
                            </div>
                        </div>
                    </div>
                    <!-- /.invoice -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
</section>

<!-- Product modal form  -->
<div class="modal fade" id="modal-product">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            @*style="height:100%;width:100%"*@
            <div class="modal-header">
                <h4 class="modal-title">Add Product(s) for Sample Request</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<div class="col-lg-12">
                    <table class="table table-responsive-m">*@
                @(Html.Kendo().Grid<SampleOrdersTrackingSystem.Models.ProductModel>()
                            .Name("modalproductgrid")
                            .Columns(columns => {
                                columns.Select().Width(50);
                                columns.Bound(p => p.ProductID).Hidden();
                                columns.Bound(p => p.PackageId).Hidden();
                                columns.Bound(p => p.Description).Width(200);
                                columns.Bound(p => p.Vendorname).Width(180).Title("Vendor");
                                columns.Bound(p => p.FullName).Width(240).Title("Full Name");
                                columns.Bound(p => p.SKU).Width(80);
                                columns.Bound(p => p.AvaliableQty).Width(100).Title("QTA");
                                columns.Bound(p => p.Bin).Width(80).Hidden();
                                columns.Bound(p => p.ProductName).Hidden();
                                columns.Bound(p => p.PackageName).Width(120).Title("UOM");
                                if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "ClientAdmin" ||
                                  @HttpContextAccessor.HttpContext.Session.GetString("Role") == "Client")
                                {
                                    columns.Bound(p => p.Cost).Title("Cost").Width(130);
                                }
                                columns.Bound(p => p.DelivPrice).Width(110).Title("Price");
                                columns.Bound(p => p.Rebate).Width(90).Hidden();
                                columns.Bound(p => p.Quantity).Width(80).Title("Qty").Hidden();
                                columns.Bound(p => p.TOTAL).Width(90).Hidden();

                            })
                              .Sortable()
                              .Scrollable(s => s.Enabled(true).Height(300))
                              .Filterable(filterable => filterable
                                    .Extra(true)
                                    .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains("Contains")
                                            .StartsWith("Starts with")
                                            .IsEqualTo("Is equal to")
                                            .IsNotEqualTo("Is not equal to")
                                            .DoesNotContain("Does not containe")
                                            .EndsWith("End with")
                                            .IsNull("Is null")
                                            .IsNotNull("Is not null")
                                        ))
                                    )
                             .Pageable(pager => pager
                                .Input(false)
                                .Numeric(true).ButtonCount(5)
                                .Info(true).Enabled(true)
                                .PreviousNext(true)
                                .Refresh(true)
                                .PageSizes(new List<object> { 10, 20, 100, 200, 300, 500, "all" })
                                .Responsive(false)
                            )
                            .Events(ev => ev.Change("onChange"))
                            .PersistSelection()
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(20)
                                .Model(model => model.Id(p => p.ProductID))
                                .Read(read => read.Action("ProductModal_Read", "ModalFill"))
                            )
                        )
                @*</table>
                    </div>*@
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="addbtnproduct">Add</button>
            </div>
            @*/.modal-content*@
        </div>
        @*/.modal-dialog*@
    </div>
    @*/.modal*@
</div>



<script>

    var selectedrow = [];
    function onChange() {
        var entityGrid = $("#modalproductgrid").data("kendoGrid");
        //var data = entityGrid.dataSource.data();
        var selectedItems = entityGrid.selectedKeyNames();
        if (selectedItems.length > 0) {
            selectedItems.forEach(function (key) {
                selectedrow.push(entityGrid.dataSource.get(key));
            });
        } else {
            selectedrow.length = 0;
        }
        selectedItems = "";
    }
    function calcActCost(e) {
        var acttot = parseFloat(e.Cost * (parseFloat(100 - e.Rebate) / 100));
        var result = acttot.toFixed(2);
        return result;
    }
    function calcColumns(e) {
        var acttot1 = parseFloat(e.Cost * (parseFloat(100 - e.Rebate) / 100));
        var result = (acttot1 * e.ApprovedQty).toFixed(2);
        return "<span class='totalSpan'>" + result + "</span>";
    }

    function onSave(e) {

        var acttotal = 0;
        var actRebt = 0;

        //ApprovedQty
        //AprovedCost

        if (e.values.hasOwnProperty("ApprovedQty") ||
            e.values.hasOwnProperty("ActCost")) {
            var totalSpan = e.container.closest("TR").find(".totalSpan");
            if (e.values.hasOwnProperty("ApprovedQty") ||
                e.values.hasOwnProperty("Rebate")) {
                actRebt = parseFloat(100 - e.model.Rebate) / 100;
                acttotal = parseFloat(e.model.ActCost * actRebt);
                e.model.set("ActCost", acttotal);
                e.model.set("TOTAL", (acttotal * e.values.ApprovedQty).toFixed(2));
                totalSpan.html((acttotal * e.values.ApprovedQty).toFixed(2));
            }
            else {
                e.model.set("ActCost", (e.model.Cost * ((100 - e.model.Rebate) / 100)));
                totalSpan.html(e.model.ActCost * e.values.ApprovedQty);
                e.model.set("TOTAL", totalSpan.html());
            }
        }
    }


    function clean(item) {

        var tempArr = [];
        for (var i = 0; i < item.length; i++) {
            if (item[i] !== undefined && item[i] != "") {
                tempArr.push(item[i]);
            }
        }
        return tempArr;
    }
    function removeDuplicates(array) {
        return array.filter((a, b) => array.indexOf(a) === b)
    };

    $("#addbtnproduct").on("click", function (e) {

        var grid = $("#modalproductgrid").data("kendoGrid");
        var Tgrid = $("#salesgrid").data("kendoGrid");
        var TgridDataSource = Tgrid.dataSource;
        var oldproduct = TgridDataSource.data();

        TgridDataSource.unbind("change", Tgrid._refreshHandler);
        var rows = grid.select();

        var filterarry = [];
        var filterarrynew = [];
        filterarrynew = clean(selectedrow);
        filterarry = removeDuplicates(filterarrynew);

        //for (var x = 0; x < rows.length; x++) {
        //    var dataItem = grid.dataItem(rows[x]);
        for (var x = 0; x < filterarry.length; x++) {

            // var dataItem = grid.dataItem(filterarry[x]);
            var dataItem = filterarry[x];
            //Get ProductName
            var UID = dataItem.uid;

            var PackageId = dataItem.PackageId;
            var PackageName = dataItem.PackageName;
            var ProductID = dataItem.ProductID;
            var ProductName = dataItem.ProductName;
            //var Quantity = dataItem.Quantity;
            var Quantity = 1;
            var Cost = dataItem.Cost;
            //var Rebate = dataItem.Rebate;
            var Rebate = 50;
            var TOTAL = dataItem.TOTAL;
            /* var TotalAmount = dataItem.TotalAmount;*/
            var SKU = dataItem.SKU;
            var Description = dataItem.Description;
            var DelivPrice = dataItem.DelivPrice;
            var Bin = dataItem.Bin;
            var ActCost = 0;
            var QTA = dataItem.AvaliableQty;
            var ApprovedQty = 1;
            var AprovedCost = dataItem.Cost;

            if (oldproduct.length == 0) {
                var newRow = TgridDataSource.add({
                    PackageId: PackageId, PackageName: PackageName, ProductID: ProductID,
                    ProductName: ProductName, Quantity: Quantity, Cost: Cost, Rebate: Rebate,
                    TOTAL: TOTAL, SKU: SKU, Description: Description, DelivPrice: DelivPrice, Bin: Bin,
                    ActCost: ActCost, AvaliableQty: QTA, ApprovedQty: ApprovedQty, AprovedCost: AprovedCost
                });

              
                $(TgridDataSource.tbody)
                    .find("tr").removeClass("new-row")
                    .filter('tr[data-uid="' + newRow.uid + '"]').addClass("new-row"); // Add class to the new row
 
            }
            else {
                var result = false;
                for (var i = 0, length = oldproduct.length; i < length; i++) {

                    if (oldproduct[i].ProductName == dataItem.ProductName &&
                        oldproduct[i].ProductID == dataItem.ProductID) {
                        alert(ProductName + " Already Exit in product list");
                        result = true;
                    }
                }
                //  Insert New record into parent DataSource
                if (result == false) {
                   
                    var newRow1 = TgridDataSource.add({
                        PackageId: PackageId, PackageName: PackageName, ProductID: ProductID,
                        ProductName: ProductName, Quantity: Quantity, Cost: Cost, Rebate: Rebate,
                        TOTAL: TOTAL, SKU: SKU, Description: Description, DelivPrice: DelivPrice, Bin: Bin,
                        ActCost: ActCost, AvaliableQty: QTA, ApprovedQty, AprovedCost: AprovedCost
                    });
                    $(TgridDataSource.tbody)
                        .find("tr").removeClass("new-row")
                        .filter('tr[data-uid="' + newRow1.uid + '"]').addClass("new-row"); // Add class to the new row

 
                }

            }
        }

        $("#modalproductgrid").data("kendoGrid").dataSource.filter({});  // Clear grid Filters \\
        grid._selectedIds = {};                                         //                      \\
        grid.clearSelection();                                         //  Clear selected rows   \\
        $('#modal-product').modal('toggle');                          //   Close modal form       \\
        Tgrid.dataSource.sync();                                     //    Syn Datasource          \\
        TgridDataSource.bind("change", Tgrid._refreshHandler);
       // Tgrid.hideColumn("Cost");
        TgridDataSource.fetch();
        TgridDataSource.sort({ field: "Quantity", dir: "asc" });
        selectedrow.length = 0;
        filterarry.length = 0;
        filterarrynew.length = 0;

        // Tgrid.refresh();
        //Tgrid.dataSource._destroyed = [];

    })

    function grid_edit(e) {
        if (!e.model.isNew()) {
            // Disable the editor of the "id" column when editing data items
            var numeric = e.container.find("input[name=id]").data("kendoNumericTextBox");
            numeric.enable(false);
        }
    }

    function printDiv(divName) {
        debugger
        var printContents = document.getElementById(divName).innerHTML;
        // printContents.document.getElementById('productdiv').style.display = 'block';
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
        /*printGrid();*/
    }

    //function printGrid() {
    //    var gridElement = $('#viewproduct'),
    //        printableContent = '',
    //        win = window.open('', '', 'width=800, height=500, resizable=1, scrollbars=1'),
    //        doc = win.document.open();

    //    var htmlStart =
    //        '
    //<!DOCTYPE html>
    //' +
    //    //        '
    //<html>
    //' +
    //    //        '
    //<head>
    //    ' +
    //    //        '
    //    <meta charset="utf-8" />' +
    //    //        '
    //    <title>Kendo UI Grid</title>' +
    //    //        '
    //    <link href="https://kendo.cdn.telerik.com/' + kendo.version + '/styles/kendo.common.min.css" rel="stylesheet" /> ' +
    //    //        '
    //    <style>
    //        ' +
    // 'html { font: 11pt sans-serif; }' +
    // '.k-grid { border-top-width: 0; }' +
    // '.k-grid, .k-grid-content { height: auto !important; }' +
    // '.k-grid-content { overflow: visible !important; }' +
    // 'div.k-grid table { table-layout: auto; width: 100% !important; }' +
    // '.k-grid .k-grid-header th { border-top: 1px solid; }' +
    // '.k-grouping-header, .k-grid-toolbar, .k-grid-pager > .k-link { display: none; }' +
    // '
    //    </style>' +
    //    //        '
    //</head>' +
    //    //        '
    //<body>
    //    ';

    //    //    var htmlEnd =
    //    //        '
    //</body>' +
    //    //        '
    //</html>';

    //    var gridHeader = gridElement.children('.k-grid-header');
    //    if (gridHeader[0]) {
    //        var thead = gridHeader.find('thead').clone().addClass('k-grid-header');
    //        printableContent = gridElement
    //            .clone()
    //            .children('.k-grid-header').remove()
    //            .end()
    //            .children('.k-grid-content')
    //            .find('table')
    //            .first()
    //            .children('tbody').before(thead)
    //            .end()
    //            .end()
    //            .end()
    //            .end()[0].outerHTML;
    //    } else {
    //        printableContent = gridElement.clone()[0].outerHTML;
    //    }

    //    doc.write(htmlStart + printableContent + htmlEnd);
    //    doc.close();
    //    win.print();
    //}

    $(document).ready(function () {
        var sum = 0;
        var $tblrows = $("#product tbody tr");
        $tblrows.each(function (index) {
            var $tblrow = $(this);
            var total = $tblrow.find("[name=total]").val();
            if (!isNaN(total) && total.length !== 0) {
                sum += parseFloat(total);
            }
        });
        $('#sum').text(sum.toFixed(2));

        Hidetable();
    });

    function Hidetable() {

        // var productlen = $('#product tr');
        var customerlen = $('#customertbl tr')

        //if (productlen.length > 1) {
        //   // $('#product').show();
        //    $('#productdiv').show();
        //} else {
        //   // $('#product').hide();
        //    $('#productdiv').hide();
        //}

        if (customerlen.length > 1) {
            $('#cutomertbl').show();
            $('#customerdiv').show();
        } else {
            $('#cutomertbl').hide();
            $('#customerdiv').hide();
        }

    }
</script>
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function notEditable(e) {
        return false;
    }
</script>
<script> 
 function sendData() {

                var progrid = $("#salesgrid").data("kendoGrid");
                var procurrentData = progrid.dataSource.data();
                var proupdatedRecords = [];

                for (var i = 0; i < procurrentData.length; i++) {
                   proupdatedRecords.push(procurrentData[i].toJSON());
                }
                //this records are deleted
                var prodeletedRecords = [];
                for (var i = 0; i < progrid.dataSource._destroyed.length; i++) {
                    prodeletedRecords.push(progrid.dataSource._destroyed[i].toJSON());
                }

                var model = {};
                model.Id = $("#salesreqid").val();
                model.SalesOrderRequestProducts = proupdatedRecords;
                model.DeleteProducts = prodeletedRecords;
                var items = JSON.stringify(model);

               $.ajax({
                   type: "POST",
                    url: '@Url.Action("ApprovalProducts", "SalesOrderApproval")',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    processData: false,
                    data: items,
                    error: function (e) {
                    alert(data + 'Er');
                    },
                    success: function (response) {
                    alert("Product(s) Approval successful updated!");
                        window.location.reload();
                    }
               })
 }

</script>