﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{ ViewData["Title"] = "Dashboard"; }



@if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "Client")
 { 
<input type="checkbox" id="fluency" checked data-toggle="toggle" data-on="Production" data-off="Development" data-onstyle="success" data-offstyle="light">
 }
 
<script>

    //"toggle btn btn-light off"
    //"toggle btn btn-success"


    $(document).ready(function () {
        var test = localStorage.input; //=== 'true' ? true : false;
         
         
        if (test == 2) {
            //$("#fluency").removeAttr('checked');
            $('#fluency').addClass('toggle btn btn-light off');
        }
        else {
            //$('input[type="checkbox"]').attr("checked", "checked");
            $('#fluency').addClass('toggle btn btn-success');
            //$("#fluency").attr("checked", "checked");
            
        }
        $/*("#fluency").prop('checked', test || false);*/
    });

    $("#fluency").change(function () {
        if ($(this).prop("checked") == true) {
           // localStorage.input = $(this).is(':checked');
            localStorage.input = 1;
            UpdateConnection(true);

           /// alert("Checkbox checked");
        } else {
            localStorage.input = 2;
             UpdateConnection(false);
           // alert("Checkbox off checked");
        }
    });


    function UpdateConnection(o) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateConnection", "Home")',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            processData: false,
            data: JSON.stringify({ shuffled: o }),
            error: function (e) {
                alert(e);
            },
            success: function () {
               // alert("Conection Changes");
            }
        })
    }



    //$(document).ready(function () {
    //    document.querySelector('#fluency').checked = localStorage.checked
    //});

</script>