﻿
@{
    ViewBag.Title = "Index";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Radius360x - SMS | Indigo Olive Software </title>
    @*<link href="~/Content/style/custom.css" rel="stylesheet" />*@
    <link rel="icon" type="image/png" href="~/Images/R-logo.png">
</head>
<body>
    <center>
        <div>
            <div style="height:50px"></div>
            <center>
                <img src="~/Images/IOS-logo.png" style="max-width:200px;min-width:200px;" />
                <div style="box-shadow:rgba(0, 41, 245, 0.16) 1px 1px 5px 2px;margin:10px;  border-radius:35px; width:40%">
                    <br />
                    <center>
                        <h3>Radius360x - SMS | SignIn </h3>
                    </center>
                    <div align="center" style="padding:10px">
                        <div id="tt" class="alert alert-danger" style="width:225px;background-color:#f8d7da; color:#85212b;border:none;">
                            <label for="LblWarningMsg" style="vertical-align: middle"></label>
                        </div>
                        @using (Html.BeginForm())
                        {
                            <div class="form-group">
                                <label for="email">Username</label>
                                @Html.TextBox("Uname")
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password</label>
                                @Html.Password("Pwd")
                            </div>
                            <input type="button" value="login" class="btn btn-default" id="btnlogin" />
                            <a href="https://indigoolive.com/" class="btn btn-default">
                                <span class="glyphicon glyphicon-triangle-left"></span>Go Back
                            </a>
                            <br />
                            <br />
                            <div align="center">
                                @Html.ActionLink("Forgot Password?", "ForgotPassword")
                                <hr><div align="center">
                                    Copyright © Indigo Olive Software
                                </div>
                            </div>
                            @*<div style="text-align:center; display:none" id="loder">
                                    <img src="~/Images/PleaseWait.gif" width="200" />
                                </div>*@
                            <asp:Label ID="lblValidationMessage" runat="server" />
                            if (!string.IsNullOrEmpty(ViewBag.Message))
                            {
                                <div class="alert alert-danger">
                                    <strong>@ViewBag.Message</strong>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div style="text-align:center; display:none" id="loder">
                    <img src="~/Images/PleaseWait.gif" width="200" />
                    
                </div>
            </center>
        </div>
    </center>
</body>
@*======================================Scripts==========================================*@
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="~/js/jquery-1.10.2.intellisense.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" language="javascript">

    $(document).ready(function () {
        $("#tt").hide();
        var cc = $("#Message").val();
        if (cc === null) {
            $("#loder").show();
        }
        else {
            $("#loder").hide();
        }
    });
    $("#btnlogin").click(function () {
        $("#tt").hide();
        $("#loder").show();
        var Uname = $('#Uname').val();
        var Pwd = $('#Pwd').val();
        callservice(Uname, Pwd);
    });

    function callservice(Uname, Pwd) {
        if (Uname !== "" && Pwd !== "") {
            $.ajax({
                type: "POST",
            //service path for local
            // url: "http://localhost:65000/Auth/WebServices/AuthLogin.asmx/UserLogin",
            //service path for local

            //service path for live
                url: "https://myaccount.indigoolive.com/Auth/WebServices/AuthLogin.asmx/UserLogin",
            //service path for live

                data: { 'UserName': Uname, 'Password': Pwd, 'AppID': 7, 'Salt': 'Shashi' },
                async: true,
                crossDomain: true,
                contenttype: "application/json",
                datatype: "json",
                success: function (data) {
                    var myjson = JSON.stringify(data);
                    //  alert(myjson);
                    var myobj = JSON.parse(myjson);
                    if (myobj.IsAuthenticated === 1) {
                        SendDataToController(myobj.Display_Name, myobj.Email, myobj.UserName, myobj.Company_Name, myobj.Role, myobj.ClientID, myobj.TeamMemberID, myobj.AccType, myobj.RoleForApp, myobj.IsClient, myobj.IsTeamMember, myobj.IsEmailConfirm, myobj.IsAuthenticated, myobj.Response, myobj.AddPermission, myobj.EditPermission, myobj.Subscription_Plan, myobj.ServerName);
                    }
                    else {

                        if (myobj.Response === 'INVALID CREDIANTIALS !') {
                            //   alert(myobj.Response);
                            $("#tt").show();
                            jQuery("label[for='LblWarningMsg']").html("INVALID CREDIANTIALS !");
                            $("#loder").hide();
                        }
                        else {
                            // alert('User Not Exist');
                            $("#tt").show();
                            jQuery("label[for='LblWarningMsg']").html("INVALID USER NAME !");
                            $("#loder").hide();
                        }
                    }
                },
                error: function (data) {
                    //  alert(JSON.stringify(data));
                    jQuery("label[for='LblWarningMsg']").html("Unable To Login!");
                    $("#loder").hide();
                }
            });
        }
        else {
            $("#tt").show();
            jQuery("label[for='LblWarningMsg']").html("INVALID CREDIANTIALS !");
            $("#loder").hide();
        }
    }

    function SendDataToController(Display_Name, Email, UserName, Company_Name, Role, ClientID, TeamMemberID, AccType, RoleForApp, IsClient, IsTeamMember, IsEmailConfirm, IsAuthenticated, Response, AddPermission, EditPermission, Subscription_Plan, ServerName)
    {
        localStorage.clear();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Index")',
            data: { 'Display_Name': Display_Name, 'Email': Email, 'UserName': UserName, 'Company_Name': Company_Name, 'Role': Role, 'ClientID': ClientID, 'TeamMemberID': TeamMemberID, 'AccType': AccType, 'RoleForApp': RoleForApp, 'IsClient': IsClient, 'IsTeamMember': IsTeamMember, 'IsEmailConfirm': IsEmailConfirm, 'IsAuthenticated': IsAuthenticated, 'Response': Response, 'AddPermission': AddPermission, 'EditPermission': EditPermission, 'Subscription_Plan': Subscription_Plan, 'ServerName': ServerName },
            success: function () {
                //path for local
                window.location.href = "/Home/Dashboard";

                //path for local

                //path for live
                //window.location.href = "/BIReporting/Home/EmbedReport";
                //path for live
                //$("#loder").hide();
            },
            error: function () {
                $("#loder").hide();
            }
        });
    }
</script>
@*======================================Scripts==========================================*@
</html>
