﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model SampleOrdersTrackingSystem.Models.Budget
@using Kendo.Mvc.UI
<style>
    /* .floatRight {
        float: right;
    }*/
    .divspace {
        display: flex;
        justify-content: space-between;
    }
    .form-group.required .control-label:before {
        color: red;
        content: "*";
        position: absolute;
        margin-left: -15px;
    }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.all.min.js"></script>

<script type="text/javascript">
    function Validate() {


        $('#lblerrormessage').text("");
      
        var SalesRepID = $("#SalesRepID").val();
        var PeriodType = $("#ddlperiodtype").val();
        var FromPeriod = $("#FromPeriod").val();
        var ToPeriod = $("#ToPeriod").val();
        var PeriodRange = $("#weeks").val();
        var txtAmount = $("#txtAmount").val();

        if (SalesRepID == null || SalesRepID == "" || SalesRepID == '00000000-0000-0000-0000-000000000000') {
            document.getElementById('errormessage').style.display = "block";
            $('#lblerrormessage').text("Please select Sales rep.");
            return false;
        }
        else if (PeriodType == null || PeriodType == "" || PeriodType == 0) {
            document.getElementById('errormessage').style.display = "block";
            $('#lblerrormessage').text("Please Period Type.");
            document.getElementById('ddlperiodtype');
            return false;
        }
        else if (PeriodRange == null || PeriodRange == "" || PeriodRange == 0) {
            document.getElementById('errormessage').style.display = "block";
            $('#lblerrormessage').text("Please Month/Week.");
            document.getElementById('weeks');
            return false;
        }
        else if (FromPeriod == null || FromPeriod == "" || FromPeriod == 0) {
            document.getElementById('errormessage').style.display = "block";
            $('#lblerrormessage').text("Please From Period.");
            document.getElementById('FromPeriod');
            return false;
        }
        else if (ToPeriod == null || ToPeriod == "" || ToPeriod == 0) {
            document.getElementById('errormessage').style.display = "block";
            $('#lblerrormessage').text("Please To Perioda.");
            document.getElementById('ToPeriod');
            return false;
        }
        else if (txtAmount == null || txtAmount == "" || txtAmount == 0) {
            document.getElementById('errormessage').style.display = "block";
            $('#lblerrormessage').text("Please To Budget Amount.");
            document.getElementById('txtAmount');
            return false;
        }
    
       else {
            return true;
        }
    }
</script>

 
<div class="card card-default">    
    <div class="card-header">
        <h3 class="card-title">Budget For SalesRep</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>

    <form id="Edithdrdata">
        <div class="card-body">
            <div class="hide">
                <input type="hidden" asp-for="@Model.InsertAgent" value="@HttpContextAccessor.HttpContext.Session.GetString("Uname")" />
                <input name="Id" type="hidden" asp-for="@Model.Id" />
                <input name="ClientId" type="hidden" asp-for="@Model.ClientId" />
                <input name="Periodweek" id="Periodweek" type="hidden" asp-for="@Model.PeriodRange" />
            </div>
            <div id="errormessage" style="display:none">
                <center><p style="font-weight:bold;color:red;"><label id="lblerrormessage"></label></p> </center>
            </div>

            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group required">
                        <label for="lblsalesrep" class="control-label">Sales Rep</label>
                        <select asp-for="@Model.SalesRepID" class="form-control" id="SalesRepID" name="SalesRepID" disabled
                                asp-items="@(new SelectList(ViewBag.salesrepcombolist,"Id","Name"))"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group required">
                        <label for="ddlperiodtype" class="control-label">Period Type</label>
                        <select asp-for="@Model.PeriodType" class="form-control" id="ddlperiodtype" disabled
                                asp-items="@(new SelectList(ViewBag.Periodtypecombolist,"Value","Text"))"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group required">
                        <label for="ddlperiodtype" class="control-label">Month/Week</label>
                        <select class="form-control" id="weeks"></select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group required">
                        <label for="lblAmount" class="control-label">Budget Amount</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input name="BudAmount" id="txtAmount" type="number" class="form-control" asp-for="@Model.BudAmount" min="0" oninput="this.value = Math.abs(this.value)">
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group required">
                        <label for="lblfromdate" class="control-label">Period From Date</label>
                        <input name="FromPeriod" id="FromPeriod" disabled placeholder="Select From Period" type="date" class="form-control" asp-for="@Model.FromPeriod">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group required">
                        <label for="lbldate" class="control-label">Period To Date</label>
                        <input name="ToPeriod" id="ToPeriod" disabled placeholder="Select To Period" type="date" class="form-control" asp-for="@Model.ToPeriod">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group required" style="margin-top:2.4em; margin-left:1.5em">
                        <input name="check" id="chkrecurring2" type="checkbox" class="form-check-input" asp-for="@Model.Recurring">
                        <label for="recurring1" class="form-check-label">Recurring</label>
                    </div>
                </div>
            </div>
            <div class="row" hidden>
                <div class="col-12">
                    <div class="card">
                        <div class="divspace" style="background-color:#3c8dbc">
                            @*<p class="text-white" style="margin-left:0.5em;margin-top:0.8em">Product Details</p>*@
                            <input id='filter' class="form-control rounded" type="search" placeholder="Search" aria-label="Search" style="width:15%">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default">
                                Select Products
                            </button>
                        </div>
                        <table class="table table-hover text-nowrap">
                            @(Html.Kendo().Grid<BudgetLineProducts>()
                        .Name("salesgrid")
                        .Columns(columns =>
                        {

                            columns.Bound(p => p.ProductID).Hidden();
                            columns.Bound(p => p.PackageId).Hidden();
                            columns.Bound(p => p.Description).Width(250).Editable("notEditable").Locked(false);
                            columns.Bound(p => p.SKU).Width(120).Editable("notEditable");
                            columns.Bound(p => p.Bin).Width(120).Editable("notEditable");
                            columns.Bound(p => p.ProductName).Hidden();
                            columns.Bound(p => p.PackageName).Width(180).Title("Package").Editable("notEditable");
                            columns.Bound(p => p.Cost).Width(180).Title("Purchase Price")
                            .Editable("notEditable");
                            columns.Bound(p => p.DelivPrice).Width(180).Title("Sale price").Editable("notEditable");
                            columns.Bound(p => p.Quantity).Width(120).Title("Qty *").HtmlAttributes(new {required = "required", data_quantity_msg = "Please enter quantity" });
                            columns.Bound(p => p.Rebate).Width(120).Title("Rebate *").Format("{0:#.## \\'%'}").HtmlAttributes(new { required = "required", data_rebate_msg = "Rebate percent must be 50% or 100%" }); ;
                            columns.Bound(o => o.ActCost).Title("Cost").Width(120)
                            .ClientTemplate("#=calcActCost(data)#")
                            .Editable("notEditable");
                            columns.Bound(o => o.TOTAL)
                            .ClientTemplate("#=calcColumns(data)#").Width(180)
                            .Title("Amount")
                            .Editable("notEditable")
                            .ClientFooterTemplate("Total: #=sum#");
                            columns.Command(command => {command.Destroy(); });
                        })
                        .Editable(editable => editable.Mode(GridEditMode.InCell))
                        .Pageable(x => x.PageSizes(new List<object> { 10, 20, 100, 200, 500, "all" }).Refresh(true))
                        .Mobile()
                        .Navigatable()
                        .Sortable()
                        .Groupable()
                        .Filterable()
                        .Resizable(resize => resize.Columns(true))
                        .Scrollable(scrollable => scrollable.Height(200))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Batch(true)
                            .PageSize(10)
                            .ServerOperation(false)
                            .Events(events => events.Error("error_handler"))
                            .Model(model => {
                                   model.Id(p => p.Id);
                            })
                            .Read(read => read.Action("Budget_Edit", "Budget", new { Id = @ViewBag.budid }))
                            .Aggregates(aggregates => {
                                aggregates.Add(p => p.TOTAL).Sum();
                            })
                        )
                        .Events(e => e.Save("onSave"))
                        )

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input id="save" class="btn btn-primary" value="Save" type="button" onclick="savedata()" />
            <a asp-action="Index" method="post" class="btn btn-danger">Close</a>
        </div>
    </form>
</div>

<!-- modal form  -->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="height:100%;width:100%">
            <div class="modal-header">
                <h4 class="modal-title">Products Details for Multiple Selection</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <table class="table table-hover text-nowrap">
                        @(Html.Kendo().Grid<SampleOrdersTrackingSystem.Models.BudgetLineProducts>()
                        .Name("modalgrid")
                        .Columns(columns =>
                        {
                             columns.Select().Width(50);
                            columns.Bound(p => p.ProductID).Hidden();
                            columns.Bound(p => p.PackageId).Hidden();
                            columns.Bound(p => p.Description).Width(200);
                            columns.Bound(p => p.SKU).Width(80);
                            columns.Bound(p => p.Bin).Width(80);
                            columns.Bound(p => p.ProductName).Hidden();
                            columns.Bound(p => p.PackageName).Width(120).Title("Package");
                            columns.Bound(p => p.Cost ).Title("Purchase Price").Width(130);
                            columns.Bound(p => p.DelivPrice).Title("Sale price").Width(110);
                            columns.Bound(p => p.Rebate).Width(90).Hidden();
                            columns.Bound(p => p.Quantity).Width(80).Title("Qty").Hidden();
                            columns.Bound(p => p.TOTAL).Width(90).Hidden();
                        })
                        .Pageable(x => x.PageSizes(new List<object> { 10, 20, 100, 200, 500, "all" }).Refresh(true))
                        .Sortable()
                        .PersistSelection()
                        .Scrollable()
                        .Filterable()
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(10)
                        .Model(model => model.Id(p => p.ProductID))
                        .Read(read => read.Action("ProductModal_Read", "ModalFill"))
                        )
                    )
                    </table>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" id="addbtn">Add</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>


<script>
    function calcActCost(e) {
        var acttot = parseFloat(e.Cost * (parseFloat(100 - e.Rebate) / 100));
        var result = acttot.toFixed(2);
        return result;
    }

    function calcColumns(e) {
        var acttot1 = parseFloat(e.Cost * (parseFloat(100 - e.Rebate) / 100));
        var result = (acttot1 * e.Quantity).toFixed(2);
        return "<span class='totalSpan'>" + result + "</span>";
    }

    function notEditable(e) {
        return false;
    }

    function onSave(e) {
        var acttotal = 0;
        var actRebt = 0;

        if (e.values.hasOwnProperty("Quantity") ||
            e.values.hasOwnProperty("ActCost")) {
            var totalSpan = e.container.closest("TR").find(".totalSpan");
            if (e.values.hasOwnProperty("Quantity") ||
                e.values.hasOwnProperty("Rebate")) {
                actRebt = parseFloat(100 - e.model.Rebate) / 100;
                acttotal = parseFloat(e.model.Cost * actRebt);
                e.model.set("ActCost", acttotal);
                e.model.set("TOTAL", (acttotal * e.values.Quantity).toFixed(2));
                totalSpan.html((acttotal * e.values.Quantity).toFixed(2));

            }
            else {
                e.model.set("ActCost", (e.model.Cost * ((100 - e.model.Rebate) / 100)));
                totalSpan.html(e.model.ActCost * e.values.Quantity);
                e.model.set("TOTAL", totalSpan.html());
            }
        }
    }

    function calculate(data) {
        var result = data.DelivPrice * data.Quantity;
        return result;
    }
    function savedata() {
        if (Validate()) {
        var validator = $("#Edithdrdata").kendoValidator({
            rules: {
                salesgrid: function (item) {
                    if (item.is('[id="salesgrid"]')) {
                        var grid = item.getKendoGrid();
                        var oldproduct = grid.dataSource.data();
                        if (oldproduct.length > 0) {
                            for (var x = 0; x < oldproduct.length; x++) {
                                var dataItem = oldproduct[x];
                                console.log(dataItem.Quantity);
                                console.log(dataItem.Rebate);
                                if (dataItem.Quantity == 0 || dataItem.Quantity == undefined || dataItem.Quantity == null ||
                                    dataItem.Rebate == 0 || dataItem.Rebate == undefined || dataItem.Rebate == null) {
                                    alert("Please Enter Qty & Rebate");
                                    return false;
                                }
                            }
                        }
                        //return oldproduct.length > 0;
                    }
                    return true;
                }
            },
            messages: {

                salesgrid: 'Please add at least one product with quantity and rebate'
            }
        }).data("kendoValidator");
        var isValid = validator.validateInput($("#salesgrid")); //validator.validate() &&
        if (isValid) {
            if (confirm("Do you want to save Budget?")) {
                sendData();
            }
        }
    }
    };
        //var isValid = validator.validate()  // && validator.validateInput($("#salesgrid"));
        //if (isValid) {
        //    if (confirm("Do you want to save Product Items?")) {
        //        sendData();
        //    }
        //}
    /*};*/

    function IsNumeric(val) {
        return Number(parseFloat(val)) === val;
    }


    $('#filter').on('input', function (e) {
         
        var grid = $('#salesgrid').data('kendoGrid');
        var columns = grid.columns;

        var filter = { logic: 'or', filters: [] };
        columns.forEach(function (x) {
            if (x.field) {
                var type = grid.dataSource.options.schema.model.fields[x.field].type;
                if (type == 'string') {
                    filter.filters.push({
                        field: x.field,
                        operator: 'contains',
                        value: e.target.value
                    })
                }
                else if (type == 'number') {
                    if (IsNumeric(e.target.value)) {
                        filter.filters.push({
                            field: x.field,
                            operator: 'eq',
                            value: e.target.value
                        });
                    }
                }
                else if (type == 'date') {
                    var data = grid.dataSource.data();
                    for (var i = 0; i < data.length; i++) {
                        var dateStr = kendo.format(x.format, data[i][x.field]);
                        if (dateStr.startsWith(e.target.value)) {
                            filter.filters.push({
                                field: x.field,
                                operator: 'eq',
                                value: data[i][x.field]
                            })
                        }
                    }
                } else if (type == 'boolean' && getBoolean(e.target.value) !== null) {
                    var bool = getBoolean(e.target.value);
                    filter.filters.push({
                        field: x.field,
                        operator: 'eq',
                        value: bool
                    });
                }
            }
        });
        grid.dataSource.filter(filter);
    });
</script>

<script>
    function sendData() {

        jQuery.fn.serializeObject = function () {
            var arrayData, objectData;
            arrayData = this.serializeArray();

            var myform = $('#Edithdrdata');
            var disabled = myform.find(':input:disabled').removeAttr('disabled');
            var serialized = myform.serializeArray();
            disabled.attr('disabled', 'disabled');
            objectData = {};
            $.each(serialized, function () {
                var value;
                if (this.value != null) {
                    value = this.value;
                } else {
                    value = '';
                }
                if (objectData[this.name] != null) {
                    if (!objectData[this.name].push) {

                        objectData[this.name] = [objectData[this.name]];
                    }

                    objectData[this.name].push(value);
                }
                else {
                    objectData[this.name] = value;
                }
            });

            return objectData;
        };
         
              var grid = $("#salesgrid").data("kendoGrid"),
              parameterMap = grid.dataSource.transport.parameterMap;

                //get the new and the updated records
                var currentData = grid.dataSource.data();
                var updatedRecords = [];
                var newRecords = [];


                for (var i = 0; i < currentData.length; i++) {
                    if (currentData[i].isNew()) {
                        //this record is new
                        newRecords.push(currentData[i].toJSON());
                    }
                    else if (currentData[i].dirty) {
                        updatedRecords.push(currentData[i].toJSON());
                    }
                }

                //this records are deleted
                var deletedRecords = [];
                for (var i = 0; i < grid.dataSource._destroyed.length; i++) {
                    deletedRecords.push(grid.dataSource._destroyed[i].toJSON());
                }

                var serializedData = $("#Edithdrdata").serializeObject();
                
         
        var model = {};
        //pass all you data to an object
        model.Id = serializedData.Id;
        model.ClientId = serializedData.ClientId; 
        model.InsertAgent = serializedData.InsertAgent;
        model.SalesRepID = serializedData.SalesRepID;
        model.FromPeriod = serializedData.FromPeriod;
        model.ToPeriod = serializedData.ToPeriod;
        model.PeriodType = serializedData.PeriodType;
        model.BudAmount = serializedData.BudAmount
        model.Recurring = serializedData.check;
        model.PeriodRange = serializedData.PeriodRange;
        model.BudgetLineProducts = updatedRecords;

       // model.DeletedBudgetLine = deletedRecords;
        var items = JSON.stringify(model);

                $.ajax({
                   type: "POST",
                    url: '@Url.Action("UpdateCreateDelete1", "Budget")',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    processData: false,
                    data: items,
                    error: function (e) {
                        alert(data + 'Er');
                    },
                    success: function (response) {
                        alert("Budget for sales rep successful submitted!");
                        location.reload();
                        grid.dataSource._destroyed = [];
                        grid.dataSource.read();
                    }

                })

    }

    //Clear Query String after saving data
    function ClearQuery() {
        var uri = window.location.toString();
        if (uri.indexOf("?") > 0) {
            var clean_uri = uri.substring(0, uri.indexOf("?"));
            window.history.replaceState({}, document.title, clean_uri);
        }
    }
</script>

<script>

    $("#ddlperiodtype").on('change', function () {
        var days = 0;
        if (this.value == 1) {
            days = 6;
        } else if (this.value == 2) {
            days = 30;
        } else if (this.value == 3) {
            days = 59;
        } else if (this.value == 4) {
            days = 364;
        }
        else {
            days = 0;
        }

        var today = new Date();
        var myDate = today.toISOString().substr(0, 10);

        let d = new Date();
        let oneDaysFromNow = d.setDate(d.getDate() + days);

        document.querySelector("#FromPeriod").value = myDate;
        document.querySelector("#ToPeriod").valueAsDate = new Date(oneDaysFromNow);

        if (days == 0) {
            document.getElementById("FromPeriod").disabled = false;
            document.getElementById("ToPeriod").disabled = false;
            $('#chkrecurring2').prop('checked', false);
            $('#chkrecurring2').attr('disabled', 'disabled');
        } else {
            $('#chkrecurring2').removeAttr('disabled', 'disabled');
            document.getElementById("FromPeriod").disabled = true;
            document.getElementById("ToPeriod").disabled = true;
        }

    });

    $('#FromPeriod').change(function () {
        var day = 0;
        // let date = $(this).val();
        let date = new Date($("#FromPeriod").val());
        var priodtype = $("#ddlperiodtype").val();
        

        if (priodtype == 1) {
            day = 6;
        } else if (priodtype == 2) {
            day = 30;
        } else if (priodtype == 3) {
            day = 59;
        } else if (priodtype == 4) {
            day = 364;
        }
        else {
            day = 0;
        }
        let oneDaysFromNow = date.setDate(date.getDate() + day);
        document.querySelector("#ToPeriod").valueAsDate = new Date(oneDaysFromNow);
    });

    $("#addbtn").on("click", function (e) {
        var grid = $("#modalgrid").data("kendoGrid");
        var Tgrid = $("#salesgrid").data("kendoGrid");
        var TgridDataSource = Tgrid.dataSource;
        var oldproduct = TgridDataSource.data();
        TgridDataSource.unbind("change", Tgrid._refreshHandler);
        var rows = grid.select();

        for (var x = 0; x < rows.length; x++) {

            //Get DataItem from SelectItems
            var dataItem = grid.dataItem(rows[x]);

          
             

            var PackageId = dataItem.PackageId;
            var PackageName = dataItem.PackageName;
            var ProductID = dataItem.ProductID;
            var ProductName = dataItem.ProductName;
            var Quantity = dataItem.Quantity;
            var Cost = dataItem.Cost;
            var Rebate = dataItem.Rebate;
            var TOTAL = dataItem.TOTAL;
          //  var TotalAmount = dataItem.TotalAmount;

            var SKU = dataItem.SKU;
            var Description = dataItem.Description;
            var DelivPrice = dataItem.DelivPrice;
            var Bin = dataItem.Bin;
            var ActCost = 0;

            if (oldproduct.length == 0) {
                TgridDataSource.add({ PackageId: PackageId, PackageName: PackageName, ProductID: ProductID, ProductName: ProductName, Quantity: Quantity, Cost: Cost, Rebate: Rebate, TOTAL: TOTAL, SKU: SKU, Description: Description, DelivPrice: DelivPrice, Bin: Bin, ActCost: ActCost });
            }
            else {
                var result = false;
                for (var i = 0, length = oldproduct.length; i < length; i++) {

                    if (oldproduct[i].ProductName == dataItem.ProductName &&
                        oldproduct[i].ProductID == dataItem.ProductID) {
                        alert(ProductName + " Already Exit in product list");
                        result = true;
                    }
                }
                //  Insert New record into parent DataSource
                if (result == false) {
                    TgridDataSource.add({ PackageId: PackageId, PackageName: PackageName, ProductID: ProductID, ProductName: ProductName, Quantity: Quantity, Cost: Cost, Rebate: Rebate, TOTAL: TOTAL, SKU: SKU, Description: Description, DelivPrice: DelivPrice, Bin: Bin, ActCost: ActCost });
                }
            }
        }

        $("#modalgrid").data("kendoGrid").dataSource.filter({}); //Clear grid Filters
        grid.clearSelection(); // Clear selected rows
        $('#modal-default').modal('toggle'); // Close modal form
        Tgrid.dataSource.sync();  // Syn Datasource
        TgridDataSource.bind("change", Tgrid._refreshHandler);
         
    })
</script>

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
    $(document).ready(function () {
        var isMobile = Boolean(kendo.support.mobileOS);
        if (isMobile) {
            $("#qr-wrap").hide();
            $("#grid-wrap").show();
            $("#salesgrid").data("kendoGrid").resize();
            $("#modalgrid").data("kendoGrid").resize();
        }
        GetPeriodtype();
       // ClearQuery(); // call clear Query string function
    });


</script>

<script> 
    function GetPeriodtype() {
         
        var today = new Date();
        var weekno = Getweekno(today);
        var periodtypeid = $('#ddlperiodtype').val();
        var Periodweek = $('#Periodweek').val();
           
        var Year = ["Select Month", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var quarter = ["Select Quarter", "Q1 - (January-February-March)", "Q2 - (April-May-June)", "Q3 - (July-August-September)", "Q4 - (October-November-December)"];
        var halfyearly = ["Select Half Year", "I - Half-Year", "II - Half-Year"];
        var YearName = today.getFullYear();
        var Weekcount = weeksInYear(today.getFullYear());

        var option = '';

        if (periodtypeid == 1) {
            $('#weeks').html("");
           
            option += '<option value="' + 0 + '">' + "Select Week" + '</option>';
            for (var i = weekno; i < Weekcount + 1; i++) {
                option += '<option value="' + i + '">' + i + '</option>';
            }
           
        } else if (periodtypeid== 2) {
            $('#weeks').html("");
            
            for (var i = 0; i < 13; i++) {
                option += '<option value="' + i + '">' + Year[i] + '</option>';
            }
            
        } else if (periodtypeid == 3) {
            $('#weeks').html("");
          
            for (var i = 0; i < 5; i++) {
                option += '<option value="' + i + '">' + quarter[i] + '</option>';
            }
           
        } else if (periodtypeid == 4) {
            $('#weeks').html("");
            for (var i = 0; i < 3; i++) {
                option += '<option value="' + i + '">' + halfyearly[i] + '</option>';
            }
           
        } else if (periodtypeid == 5) {
            option += '<option value="' + 0 + '">' + "Select Year" + '</option>';
            $('#weeks').html("");
            document.getElementById("weeks").disabled =  rName + '</option>';
        }
        else {
            $('#weeks').html("");
            $('#weeks').attr('disabled', 'disabled');
        }
        $('#weeks').append(option);
        document.getElementById("weeks").disabled = true;
        $('#weeks').val(Periodweek);
    };


    function Getweekno(dt) {
        var tdt = new Date(dt.valueOf());
        var dayn = (dt.getDay() + 6) % 7;
        tdt.setDate(tdt.getDate() - dayn + 3);
        var firstThursday = tdt.valueOf();
        tdt.setMonth(0, 1);
        if (tdt.getDay() !== 4) {
            tdt.setMonth(0, 1 + ((4 - tdt.getDay()) + 7) % 7);
        }
        return 1 + Math.ceil((firstThursday - tdt) / 604800000);
    }

    function getDays(year, week) {
        var j10 = new Date(year, 0, 10, 12, 0, 0),
            j4 = new Date(year, 0, 4, 12, 0, 0),
            mon = j4.getTime() - j10.getDay() * 86400000,
            result = [];
        for (var i = -1; i < 6; i++) {
            result.push(new Date(mon + ((week - 1) * 7 + i) * 86400000));
        }
        return result;
    }

    function getWeekNumber(d) {
        d = new Date(+d);
        d.setHours(0, 0, 0, 0);
        d.setDate(d.getDate() + 4 - (d.getDay() || 7));
        var yearStart = new Date(d.getFullYear(), 0, 1);
        var weekNo = Math.ceil((((d - yearStart) / 86400000) + 1) / 7)
        return [d.getFullYear(), weekNo];
    }

    function weeksInYear(year) {
        var d = new Date(year, 11, 31);
        var week = getWeekNumber(d)[1];
        return week == 1 ? 52 : week;
    }

</script>