﻿@model IEnumerable<SampleOrdersTrackingSystem.Models.Budget>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!-- DataTables -->
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Budget By Sales Rep</h3>
        @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "ClientAdmin" ||
           @HttpContextAccessor.HttpContext.Session.GetString("Role") == "Client")
        {
            <div class="card-tools">
                <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Budget", "Budget")'"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add New</button>
                @*<button type="button" class="btn btn-outline-success" onclick="location.href='@Url.Action("Recurring", "Budget")'"><i class="fa fa-plus-circle" aria-hidden="true"></i> Next Budget</button>*@
            </div>
        }
    </div>
    <form id="indexdata">
        <div class="card-body">
            <table id="budgettbl" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Sales Rep</th>
                        <th>Budget Amount</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Period Type</th>
                        <th>Recurring</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var budget in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => budget.SalesRepName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => budget.BudAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => budget.FromPeriod)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => budget.ToPeriod)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => budget.PeriodTypeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => budget.Recurring)
                            </td>
                            <td>
                                @Html.ActionLink("View", "View", new { pId = budget.Id , salesrep = budget.SalesRepID  , Fromdate = budget.FromPeriod , Todate = budget.ToPeriod })

                                @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "ClientAdmin" ||
                                     @HttpContextAccessor.HttpContext.Session.GetString("Role") == "Client")
                                {    <i>|</i>
                                    @Html.ActionLink("Edit", "Edit", new { pId = budget.Id }) <i>|</i>
                                    @Html.ActionLink("Delete", "Delete", new { pId = budget.Id }, new { onclick = "return confirm('Do you want to delete?');" })}
                          </td>
                      </tr >
                     }

               </tbody>
                @*<tfoot>
                    <tr>
                        <th>Sales Rep</th>
                        <th>Total Amount</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Period Type</th>
                        <th>Recurring</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>*@
            </table>
        </div>
    </form>
</div>

 
<script>
    $(function () {
        $("#budgettbl").DataTable({
            "responsive": true, "lengthChange": true, "autoWidth": false, "scrollY": true,
            "scrollX": true, "info": true, 
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#budgettbl_wrapper .col-md-6:eq(0)');
        //$('#example2').DataTable({
        //    "paging": true,
        //    "lengthChange": false,
        //    "searching": false,
        //    "ordering": true,
        //    "info": true,
        //    "autoWidth": false,
        //    "responsive": true,
        //});
    });

    

</script>