﻿@model IEnumerable<SampleOrdersTrackingSystem.Models.Budget>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Kendo.Mvc.UI
<!-- DataTables -->
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Recurring Budget</h3>
    </div>
    <form id="indexdata">
        <div class="card-body">
            
            @(Html.Kendo().Grid<SampleOrdersTrackingSystem.Models.Budget>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(p => p.SalesRepID).Hidden();
                columns.Bound(p => p.SalesRepName).Title("Sales Rep").Width(120);
                columns.Bound(p => p.BudAmount).Width(100).Title("Amount");
                columns.Bound(p => p.FromPeriod).Width(100).Title("From Date");
                columns.Bound(p => p.ToPeriod).Width(100).Title("TO Date");
                columns.Bound(p => p.Recurring).Width(100);
                columns.Command(command => { command.Edit();}).Width(220);
            })
            //.ToolBar(toolbar => toolbar.Create())
            .Editable(editable => editable.Mode(GridEditMode.InLine))
            .Pageable()
            .Sortable()
            .Scrollable()
            .HtmlAttributes(new { style = "height:430px;" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .Events(events => events.Error("error_handler"))
                .Model(model => model.Id(p => p.Id))
                .Read(read => read.Action("Recurring_Read", "Budget"))
                .Update(update => update.Action("Recurring_Update", "Budget"))
            )
        )
            <!--<table id="budgettbl" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Sales Rep</th>
                <th>Budget Amount</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Period Type</th>
                <th>Recurring</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            foreach (var budget in Model)
            {
                <tr>
                    <td>
                         Html.DisplayFor(modelItem => budget.SalesRepName)
                    </td>
                    <td>
                         Html.DisplayFor(modelItem => budget.BudAmount)
                    </td>
                    <td>
                         Html.DisplayFor(modelItem => budget.FromPeriod)
                    </td>
                    <td>
                         Html.DisplayFor(modelItem => budget.ToPeriod)
                    </td>
                     <td>
                         Html.DisplayFor(modelItem => budget.PeriodTypeName)
                    </td>
                    <td>
                         Html.DisplayFor(modelItem => budget.Recurring)
                    </td>
                    <td>
                         Html.ActionLink("View", "View", new { pId = budget.Id }) |
                         Html.ActionLink("Update", "Update", new { pId = budget.Id }, new { onclick = "return confirm('Do you want to generate new record?');" })
                    </td>
                </tr>
            }

        </tbody>-->
            @*<tfoot>
                <tr>
                    <th>Sales Rep</th>
                    <th>Total Amount</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Period Type</th>
                    <th>Recurring</th>
                    <th>Actions</th>
                </tr>
            </tfoot>*@
            <!--</table>-->
        </div>
        @*<button class="k-button" id="update">Update</button>*@
    </form>
</div>



@*<script>
        $(function () {
            $("#budgettbl").DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": false, "scrollY": true,
                "scrollX": true, "info": true,
                //            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#budgettbl_wrapper .col-md-6:eq(0)');
        });
    </script>*@
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    }); 
                }
            });
            alert(message);
        }
    }

    //$("#update").on("click", function () {
    //    var data = grid.dataSource.data()[0];
    //    alert("ok");
    //    data.dirty = true;
    //    grid.saveChanges();
    //})

</script>

