﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model SampleOrdersTrackingSystem.Models.Budget
@using Kendo.Mvc.UI

<style>
    /* .floatRight {
        float: right;
    }*/
    .divspace {
        display: flex;
        justify-content: space-between;
    }

    .form-group.required .control-label:before {
        color: red;
        content: "*";
        position: absolute;
        margin-left: -15px;
    }

    .color {
        background-color: red;
    }
</style>
<script type="text/javascript">
    function Validate() {
        
        $('#lblerrormessage').text("");
        var optional = $("#optional").data("kendoMultiSelect");
        var salesrepids = optional.value().join(", ");
        var PeriodType = $("#ddlperiodtype").val();
        var FromPeriod = $("#FromPeriod").val();
        var ToPeriod = $("#ToPeriod").val();
        var PeriodRange = $("#weeks").val();
       // var txtAmount = $("#txtAmount").val();
 
        if (salesrepids == null || salesrepids == "") {
            document.getElementById('errormessage').style.display = "block";
            $('#lblerrormessage').text("Please select Sales rep.");
            return false;
        }
        else if (PeriodType == null || PeriodType == "" || PeriodType == 0 ) {
            document.getElementById('errormessage').style.display = "block";
            $('#lblerrormessage').text("Please Period Type.");
            document.getElementById('ddlperiodtype');
            return false;
        }
        else if (PeriodRange == null || PeriodRange == "" || PeriodRange == 0) {
            document.getElementById('errormessage').style.display = "block";
            $('#lblerrormessage').text("Please Month/Week.");
            document.getElementById('weeks');
            return false;
        }
        else if (FromPeriod == null || FromPeriod == "" || FromPeriod == 0) {
            document.getElementById('errormessage').style.display = "block";
            $('#lblerrormessage').text("Please From Period.");
            document.getElementById('FromPeriod');
            return false;
        }
        else if (ToPeriod == null || ToPeriod == "" || ToPeriod == 0) {
            document.getElementById('errormessage').style.display = "block";
            $('#lblerrormessage').text("Please To Perioda.");
            document.getElementById('ToPeriod');
            return false;
        }
        //else if (txtAmount == null || txtAmount == "" || txtAmount == 0) {
        //    document.getElementById('errormessage').style.display = "block";
        //    $('#lblerrormessage').text("Please To Amount.");
        //    document.getElementById('txtAmount');
        //    return false;
        //}
        //else if ($(this).prop("#ckbox") == true || (txtdiscount == null || txtdiscount == "")) {
        //    //alert('cal');
        //    document.getElementById('errormessage').style.display = "block";
        //    $('#lblerrormessage').text("Please enter Discount.");
        //    document.getElementById('ddlperiodtype');
        //}
        //else if ($(this).prop("#ckbox") == false) {
        //     return false;
        //}
        else {
            return true;
        }
    }
</script>
 

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Next Period</h3>
        <div class="card-tools">
            <div id="grid" class="text-danger"></div>
        </div>
    </div>
    <form id="hdrdata" class="form-horizontal" onsubmit="return Validate()">
        
        <div class="card-body">
            <div class="hide">
                <input type="hidden" asp-for="@Model.InsertAgent" value="@HttpContextAccessor.HttpContext.Session.GetString("Uname")" />
            </div>
            <div id="errormessage" style="display:none">
                <center><p style="font-weight:bold;color:red;"><label id="lblerrormessage"></label></p> </center>
            </div>
            <div class="form-row">
                <div class="col-md-10">
                    <div class="position-relative form-group required">
                        <label for="lblsalesrep" class="control-label">Sales Rep</label>
                        @(Html.Kendo().MultiSelect()
                          .Name("optional")
                          .AutoClose(false)
                          .Placeholder("Select Sales rep...")
                          .BindTo(new SelectList(ViewBag.salesrepcombolist, "Id", "Name"))
                        )
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group required">
                        <label for="ddlperiodtype" class="control-label">Period Type</label>
                        <select asp-for="@Model.PeriodType" class="form-control" id="ddlperiodtype"
                                asp-items="@(new SelectList(ViewBag.Periodtypecombolist,"Value","Text"))"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group required">
                        <label for="ddlperiodtype" class="control-label">Month/Week</label>
                        <select class="form-control" id="weeks" asp-for="@Model.PeriodRange"></select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                @*<div class="col-md-4">
                <div class="position-relative form-group required">
                    <label for="lblAmount" class="control-label">Budget Amount</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input name="BudAmount" id="txtAmount" type="number" class="form-control" asp-for="@Model.BudAmount" min="0" oninput="this.value = Math.abs(this.value)">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                </div>
            </div>*@
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="lblfromdate" class="">Period From Date</label>
                        <input name="FromPeriod" id="FromPeriod" placeholder="Select From Period" type="date" class="form-control" asp-for="@Model.FromPeriod">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="lbldate" class="">Period To Date</label>
                        <input name="ToPeriod" id="ToPeriod" placeholder="Select To Period" type="date" class="form-control" asp-for="@Model.ToPeriod">
                    </div>
                </div>
                @*<div class="col-md-4">
                <div class="position-relative form-group" style="margin-top:2.4em; margin-left:1.5em">
                    <input name="check" id="chkrecurring2" type="checkbox" class="form-check-input" asp-for="@Model.Recurring">
                    <label for="recurring1" class="">Recurring</label>
                </div>
            </div>*@

            </div>

        </div>
        <div class="card-footer">
            <input type="button" class="btn btn-primary" value="Save" onclick="sendData()" />
            <a asp-action="Index" method="post" class="btn btn-danger">Close</a>
          
        </div>
    </form>
</div>

 
<script>

    $(document).ready(function () {
        $("#get").click(function () {
            alert("Optional: " + optional.value());
        });
    });

    function sendData() {
         
        if (Validate()) {
            if (confirm("Do you want to udpate Next Period?")) {

            var optional = $("#optional").data("kendoMultiSelect");
            var salesrepids = optional.value().join(", ");
            var PeriodType = $("#ddlperiodtype").val();
            var FromPeriod = $("#FromPeriod").val();
            var ToPeriod   = $("#ToPeriod").val();
            var InsertAgent = $("#InsertAgent").val();
            var PeriodRange = $("#weeks").val();
           // var BudAmount = $("#txtAmount").val();

                var model = {};
                //pass all you data to an object
                model.InsertAgent = InsertAgent;
                model.SalesRepIDs = salesrepids;
                model.FromPeriod = FromPeriod;
                model.ToPeriod   = ToPeriod;
                model.PeriodType = PeriodType;
                model.PeriodRange = PeriodRange;
               // model.BudAmount = BudAmount;

                var items = JSON.stringify(model);

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("UpdateRecurring", "Budget")',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        processData: false,
                        data: items,
                        error: function (e) {
                            alert(data + 'Er');
                        },
                        success: function (response) {
                            alert("Next period for sales rep successful submitted!");
                          //  window.location.href = "/Budget/Edit?pId=" + response;
                   
                        }
                    });
            }
        }
    }

</script>


@*Script for Period Type selection*@
<script>

                $("#ddlperiodtype").on('change', function () {
                debugger
                var days = 0;
                var today = new Date();
                var myDate = today.toISOString().substr(0, 10);

                //var oneJan = new Date(today.getFullYear(), 0, 1);
                //var numberOfDays = Math.floor((today - oneJan) / (24 * 60 * 60 * 1000));
                //var weekno = Math.ceil((today.getDay() + 1 +  numberOfDays) / 7);
                var weekno = Getweekno(today);

                var Year = ["Select Month", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                var quarter = ["Select Quarter", "Q1 - (January-February-March)", "Q2 - (April-May-June)", "Q3 - (July-August-September)", "Q4 - (October-November-December)"];
                var halfyearly = ["Select Half Year", "I - Half-Year", "II - Half-Year"];
                var YearName = today.getFullYear();
                var Weekcount = weeksInYear(today.getFullYear());

                var option = '';

                if (this.value == 1) {
                    $('#weeks').html("");
                    document.getElementById("weeks").disabled = false;
                    option += '<option value="' + 0 + '">' + "Select Week" + '</option>';
                    for (var i = weekno; i < Weekcount + 1; i++) {
                        option += '<option value="' + i + '">' + i + '</option>';
                    }
                    days = 6;
                } else if (this.value == 2) {
                    $('#weeks').html("");
                    document.getElementById("weeks").disabled = false;
                    for (var i = 0; i < 13; i++) {
                        option += '<option value="' + i + '">' + Year[i] + '</option>';
                    }
                    days = 30;
                } else if (this.value == 3) {
                    $('#weeks').html("");
                    document.getElementById("weeks").disabled = false;
                    for (var i = 0; i < 5; i++) {
                        option += '<option value="' + i + '">' + quarter[i] + '</option>';
                    }
                    days = 89;
                } else if (this.value == 4) {
                    $('#weeks').html("");
                    document.getElementById("weeks").disabled = false;
                    for (var i = 0; i < 3; i++) {
                        option += '<option value="' + i + '">' + halfyearly[i] + '</option>';
                    }
                    days = 179;
                } else if (this.value == 5) {
                    //var ny = today.getFullYear() + 1;
                    option += '<option value="' + 0 + '">' + "Select Year" + '</option>';
                    $('#weeks').html("");
                    document.getElementById("weeks").disabled = false;
                    option += '<option value="' + 1 + '">' + YearName + '</option>';
                    // document.querySelector("#FromPeriod").value  = oneJan.toISOString().substr(0, 10);
                    days = 364;
                }
                else {
                    $('#weeks').html("");
                    $('#weeks').attr('disabled', 'disabled');
                    days = 0;
                }

                $('#weeks').append(option);
                //let d = new Date();
                //let oneDaysFromNow = d.setDate(d.getDate() + days);
                //document.querySelector("#ToPeriod").valueAsDate = new Date(oneDaysFromNow);

                document.querySelector("#FromPeriod").value = myDate;
                document.querySelector("#ToPeriod").value = myDate;

                if (days == 0) {
                    document.getElementById("FromPeriod").disabled = false;
                    document.getElementById("ToPeriod").disabled = false;
                    $('#chkrecurring2').prop('checked', false);
                    $('#chkrecurring2').attr('disabled', 'disabled');
                } else {
                    $('#chkrecurring2').removeAttr('disabled', 'disabled');
                    $('#chkrecurring2').prop('checked', true);
                    document.getElementById("FromPeriod").disabled = true;
                    document.getElementById("ToPeriod").disabled = true;
                }

            });

        $("#weeks").on('change', function () {
            debugger
            var Periodtype = $('#ddlperiodtype').val();
            var today = new Date();
            var year = today.getFullYear();
            var week = $('#weeks').val();

            var fromd = '';
            var TOd = '';
            var fromDate = '';
            var toDate = '';

            if (Periodtype == 1) {
                var days = getDays(year, week);
                fromd = days[0];
                TOd = days[6];
            } else if (Periodtype == 2) {
                var my_date = new Date(year, week - 1);
                fromd = new Date(my_date.getFullYear(), my_date.getMonth(), 1);
                TOd = new Date(my_date.getFullYear(), my_date.getMonth() + 1, 0);
            } else if (Periodtype == 3) {
                if (week == 1) {
                    fromd = new Date(year, 0, 1);
                    TOd = new Date(year, 2, 31);
                } else if (week == 2) {
                    fromd = new Date(year, 3, 1);
                    TOd = new Date(year, 5, 30);
                } else if (week == 3) {
                    fromd = new Date(year, 6, 1);
                    TOd = new Date(year, 8, 30);
                } else {
                    fromd = new Date(year, 9, 1);
                    TOd = new Date(year, 11, 31);
                }
            } else if (Periodtype == 4) {
                if (week == 1) {
                    fromd = new Date(year, 0, 1);
                    TOd = new Date(year, 5, 30);

                } else {
                    fromd = new Date(year, 6, 1);
                    TOd = new Date(year, 11, 31);
                }
            } else {
                fromd = new Date(year, 0, 1);
                TOd = new Date(year, 11, 31);
                //(Periodtype == 5)
            }
            fromDate = fromd.toISOString().substr(0, 10);
            toDate = TOd.toISOString().substr(0, 10);

            document.querySelector("#FromPeriod").value = fromDate;
            document.querySelector("#ToPeriod").value = toDate;

            //for (var i in days) {
            //   console.log(days[i].toDateString() + i);
            //}
        });

        function Getweekno(dt) {
            var tdt = new Date(dt.valueOf());
            var dayn = (dt.getDay() + 6) % 7;
            tdt.setDate(tdt.getDate() - dayn + 3);
            var firstThursday = tdt.valueOf();
            tdt.setMonth(0, 1);
            if (tdt.getDay() !== 4) {
                tdt.setMonth(0, 1 + ((4 - tdt.getDay()) + 7) % 7);
            }
            return 1 + Math.ceil((firstThursday - tdt) / 604800000);
        }

        function getDays(year, week) {
            var j10 = new Date(year, 0, 10, 12, 0, 0),
                j4 = new Date(year, 0, 4, 12, 0, 0),
                mon = j4.getTime() - j10.getDay() * 86400000,
                result = [];
            for (var i = -1; i < 6; i++) {
                result.push(new Date(mon + ((week - 1) * 7 + i) * 86400000));
            }
            return result;
        }

        function getWeekNumber(d) {
            d = new Date(+d);
            d.setHours(0, 0, 0, 0);
            d.setDate(d.getDate() + 4 - (d.getDay() || 7));
            var yearStart = new Date(d.getFullYear(), 0, 1);
            var weekNo = Math.ceil((((d - yearStart) / 86400000) + 1) / 7)
            return [d.getFullYear(), weekNo];
        }

        function weeksInYear(year) {
            var d = new Date(year, 11, 31);
            var week = getWeekNumber(d)[1];
            return week == 1 ? 52 : week;
        }

</script>

 
    

 






