﻿@model IEnumerable<SampleOrdersTrackingSystem.Models.Budget>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Kendo.Mvc.UI
<!-- DataTables -->
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Recurring Budget</h3>
    </div>
    <form id="indexdata">
        <div class="card-body">
          
            <table id="budgettbl" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Sales Rep</th>
                    <th>Budget Amount</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Period Type</th>
                    <th>Month/Week</th>
                    <th>Recurring</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var budget in Model)
                {
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => budget.SalesRepName)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => budget.BudAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => budget.FromPeriod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => budget.ToPeriod)
                    </td>
                    <td>
                        @*@Html.DropDownList("Periodtypecombolist", null, new { @class = "form-control", Value = budget.PeriodType })*@
                        @Html.DropDownListFor(modelItem => budget.PeriodType, new SelectList(ViewBag.Periodtypecombolist, "Value", "Text", budget.PeriodType))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => budget.PeriodRange)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => budget.Recurring)
                    </td>
                    <td>
                        @*<button type='button' onclick='productDisplay(this);' class='btn btn-default'><span class='glyphicon glyphicon-remove'/></button>|*@
                        @Html.ActionLink("View", "View", new { pId = budget.Id }) |
                        @Html.ActionLink("Update", "Update", new { pId = budget.Id , pfrmdate = budget.FromPeriod }, new { onclick = "return confirm('Do you want to generate new record?');" })
                    </td>
                </tr>
                }

            </tbody>
            @*<tfoot>
                    <tr>
                        <th>Sales Rep</th>
                        <th>Total Amount</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Period Type</th>
                        <th>Recurring</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>*@
            </table>
        </div>
    </form>
</div>



<script>
        $(function () {
            $("#budgettbl").DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": false, "scrollY": true,
                "scrollX": true, "info": true,
                //            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#budgettbl_wrapper .col-md-6:eq(0)');
        });
 </script> 
 
 

