﻿@model IEnumerable<SampleOrdersTrackingSystem.Models.Budget>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
 
<!-- DataTables -->
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminTLE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Next Budget</h3>
    </div>
    <br />
    <form id="indexdata">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="lblfromdate" class="">From Date</label>
                        <input name="FromPeriod" id="FromPeriod" type="date" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="lbldate" class="">To Date</label>
                        <input name="ToPeriod" id="ToPeriod" type="date" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group" style="margin-top:1.84em">
                        <button type="button" class="btn btn-outline-info btn-block btn-flat" onclick="GetBudgetRecord($('#FromPeriod').val(),$('#ToPeriod').val())"><i class="fa fa-refresh"></i> Refresh</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            @*<h3 class="card-title">Fixed Header Table</h3>*@
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0" style="height: 200px;">
                            <table  id="budgettbl" class="table table-head-fixed text-nowrap">
                                <thead>
                                    <tr>
                                        <th hidden>id</th>
                                        <th>Edit</th>
                                        <th>Sales Rep</th>
                                        <th>Period Type</th>
                                        <th>Budget Amount</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Month/Week</th>
                                        <th>Recurring</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!--<div class="form-row">
        <div class="col-12">
            <table id="budgettbl" class="table table-bordered">
                <thead>
                    <tr>
                        <th hidden>id</th>
                        <th>Edit</th>
                        <th>Sales Rep</th>
                        <th>Period Type</th>
                        <th>Budget Amount</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Month/Week</th>
                        <th>Recurring</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>-->
            @*<tbody>
            @{var i = 0; }
            @foreach (var budget in Model)
            {
                i++;
                <tr id="@i">
                    <td><input type="checkbox" /></td>
                    <td hidden><input name="Id" id="id @i" type="hidden" asp-for="@budget.Id" /></td>
                    <td><input type="text" name="salesrapname" id="salesrapname @i" value="@budget.SalesRepName" disabled style="border:none" /></td>
                    <td>
                        <select asp-for="@budget.PeriodType " id="ddlperiodtype @i" style="border:none" name="ddlperiodtype" disabled
                                asp-items="@(new SelectList(ViewBag.Periodtypecombolist,"Value","Text"))"></select>
                    </td>
                    <td><input type="text" disabled name="budgetamount" id="budgetamount @i" value="@budget.BudAmount" style="border:none" /></td>
                    <td><input name="FromPeriod" disabled id="FromPeriod @i" type="date" asp-for="@budget.FromPeriod" style="border:none"> </td>
                    <td> <input name="ToPeriod" disabled id="ToPeriod @i" type="date" asp-for="@budget.ToPeriod" style="border:none"></td>
                    <td><select id="weeks @i" disabled asp-for="@budget.PeriodRange" style="border:none" name="week"></select></td>
                    <td><input id="chkrecurring @i" disabled name="Recurring" type="checkbox" asp-for="@budget.Recurring" style="border:none"></td>
                    <td>
                        <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                    </td>
                </tr>
            }
        </tbody>*@
            <!--</table>
        </div>
    </div>-->
        </div>
    </form>
</div>

<script>
    //$(function () {
    //$("#budgettbl").DataTable({
    //        'paging': true,
    //        'lengthChange': true,
    //        'searching': true,
    //        'ordering': true,
    //        "responsive": false,
    //        "autoWidth": true,
    //        "scrollY": true,
    //        "scrollX": true,
    //        "info": true,
    //        "bSort": false
    //    });
    //});

    //$(function () {
    //    $("#budgettbl").DataTable({
    //        "responsive": true, "lengthChange": true, "autoWidth": false, "scrollY": true,
    //        "scrollX": true, "info": true,
    //        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
    //        "bSort": false,
    //        "fixedHeader": true
    //    }).buttons().container().appendTo('#budgettbl_wrapper .col-md-6:eq(0)');
    //});
    //var minDate, maxDate;
    // Custom filtering function which will search data in column four between two values
    //$.fn.dataTable.ext.search.push(
    //    function (settings, data, dataIndex) {
    //        var min = minDate.val();
    //        var max = maxDate.val();
    //        var date = new Date(data[4]);

    //        if (
    //            (min === null && max === null) ||
    //            (min === null && date <= max) ||
    //            (min <= date && max === null) ||
    //            (min <= date && date <= max)
    //        ) {
    //            return true;
    //        }
    //        return false;
    //    }
    //);

    //$(document).ready(function () {
    //    // Create date inputs
    //    minDate = new DateTime($('#min'), {
    //        format: 'MMMM Do YYYY'
    //    });
    //    maxDate = new DateTime($('#max'), {
    //        format: 'MMMM Do YYYY'
    //    });

    //    // DataTables initialisation
    //    var table = $('#budgettbl').DataTable();

    //    // Refilter the table
    //    $('#min, #max').on('change', function () {
    //        table.draw();
    //    });
    //});

</script>
<script>
    $(document).on('click', ".checkbox", function () {
    /*$('tr td:first-child input[type="checkbox"]').click(function () {*/
        debugger    
        //$(this).closest('tr').find('input[name="budgetamount"]').attr('disabled', !this.checked);
        //$(this).closest('tr').find('select[name="ddlperiodtype"]').attr('disabled', !this.checked);
        //$(this).closest('tr').find('select[name="week"]').attr('disabled', !this.checked);
        //$(this).closest('tr').find('input[name="Recurring"]').attr('disabled', !this.checked);

        $(this).closest('tr').find('input[name="budgetamount"]').attr('disabled', false);
        $(this).closest('tr').find('select[name="ddlperiodtype"]').attr('disabled', false);
        $(this).closest('tr').find('select[name="week"]').attr('disabled', false);
        $(this).closest('tr').find('input[name="Recurring"]').attr('disabled', false);

        // $(this).closest('tr').find(":input:not(:first)").attr('disabled', !this.checked);

        //if (this.checked) {
        //  //  alert("true");
        //} else {
        //    window.location.href = "/Budget/Recurring";
        //    //alert("false");
        //}

    });

    $(document).on("click", "#budgettbl button.btn-success", function () {
        debugger
        if (confirm("Do you want to update Recurring Budget ?")) {

        let tr = $(this).closest('tr');
        let id = tr.find('input[name="Id"]').val();
        let salesrap = tr.find('input[name="salesrapname"]').val();
        let budgetamount = tr.find('input[name="budgetamount"]').val();
        let FromPeriod = tr.find('input[name="FromPeriod"]').val();
        let ToPeriod = tr.find('input[name="ToPeriod"]').val();
        let ddlperiodtype = tr.find('select[name="ddlperiodtype"]').val();
        let Recurring = tr.find('input[name="Recurring"]').val();
        let week = '';
            if (tr.find('select[name="week"]').val() == null || tr.find('select[name="week"]').val() == undefined) {
                 week = 0;
            } else { week = tr.find('select[name="week"]').val();}

            var model = {};
            model.Id =  id;
            //model.SalesRepID = SalesRepID;
            model.SalesRepName = salesrap;
            model.FromPeriod = FromPeriod;
            model.ToPeriod = ToPeriod;
            model.PeriodType = ddlperiodtype;
            model.BudAmount = budgetamount;
            model.Recurring = Recurring;
            model.PeriodRange = week;

            var items = JSON.stringify(model);
             $.ajax({
                   type: "POST",
                    url: '@Url.Action("UpdateRecurring", "Budget")',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    processData: false,
                    data: items,
                    error: function (e) {
                        alert(data + 'Er');
                    },
                 success: function (response) {

                        alert("Recurring Budget update successful submitted!");
                        //window.location.href = "/Budget/Recurring";
                    }
                })


        }
    });

   // $('tr td:nth-child(4) select[name="ddlperiodtype"]').change(function () {
    $(document).on('change', ".ddlperiodtype", function () {
            debugger

            var id =  $(this).val();
            var days = 0;
            var today = new Date();
            var myDate = today.toISOString().substr(0, 10);

            var weekno = Getweekno(today);

            var Year = ["Select Month", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var quarter = ["Select Quarter", "Q1 - (January-February-March)", "Q2 - (April-May-June)", "Q3 - (July-August-September)", "Q4 - (October-November-December)"];
            var halfyearly = ["Select Half Year", "I - Half-Year", "II - Half-Year"];
            var YearName = today.getFullYear();
            var Weekcount = weeksInYear(today.getFullYear());

            var option = '';
            if (this.value == 1) {

                option += '<option value="' + 0 + '">' + "Select Week" + '</option>';
                for (var i = weekno; i < Weekcount + 1; i++) {
                    option += '<option value="' + i + '">' + i + '</option>';
                }
                days = 6;
            } else if (this.value == 2) {

                for (var i = 0; i < 13; i++) {
                    option += '<option value="' + i + '">' + Year[i] + '</option>';
                }
                days = 30;
            } else if (this.value == 3) {

                for (var i = 0; i < 5; i++) {
                    option += '<option value="' + i + '">' + quarter[i] + '</option>';
                }
                days = 89;
            } else if (this.value == 4) {

                for (var i = 0; i < 3; i++) {
                    option += '<option value="' + i + '">' + halfyearly[i] + '</option>';
                }
                days = 179;
            } else if (this.value == 5) {
                option += '<option value="' + 0 + '">' + "Select Year" + '</option>';
                option += '<option value="' + 1 + '">' + YearName + '</option>';
                days = 364;
            }
            else {
                days = 0;
            }

            $(this).closest('tr').find('select[name="week"]').empty().append(option);

            if (days == 0) {
                $(this).closest('tr').find('select[name="week"]').attr('disabled', true);
                $(this).closest('tr').find('input[name = "FromPeriod"]').attr('disabled', false);
                $(this).closest('tr').find('input[name="ToPeriod"]').attr('disabled', false);

                $(this).closest('tr').find('input[name="Recurring"]').attr('disabled', false);
                $(this).closest('tr').find('input[name="Recurring"]').prop('checked', false);
            } else {
                $(this).closest('tr').find('input[name="Recurring"]').attr('disabled', true);
                $(this).closest('tr').find('input[name="Recurring"]').prop('checked', true);

                $(this).closest('tr').find('select[name="week"]').attr('disabled', false);
                $(this).closest('tr').find('input[name = "FromPeriod"]').attr('disabled', true);
                $(this).closest('tr').find('input[name="ToPeriod"]').attr('disabled', true);
            }


           // $('tr td:nth-child(7) select[name="week"]').empty().append(option);

           // $(this).parent().find('td:nth-child(7) select[name="week"]').append(option);
            //$(this).parent().find('td:nth-child(7) select[name="week"]').empty().append(option);

           // $('#weeks').append(option);
           /*  $(".budgettbl table tbody tr").find('td:nth-child(7)').append(option);*/

            //$(".budgettbl table tbody tr td:nth-child(7)").append(option);
            //$('tr td:nth-child(7) select[name="Week"]').append(option);

            //$('tr td:nth-child(7) select[name="Week"]', this).append(option);
       ////enable/disable all except checkboxes, based on the row is checked or not
        //$(this).closest('tr').find(":input:not(:first)").attr('disabled', !this.checked);
        });

   



    /* $('tr td:nth-child(8) select[name="week"]').change(function () {*/
    $(document).on('change', ".week", function () {
   debugger
        var Periodtype = $(this).closest('tr').find('select[name="ddlperiodtype"]').val();
        var weeks = $(this).val();

         Dates = GetPerioddays(Periodtype, weeks);
        var fDate = Dates[0];
        var tDate = Dates[1];

        $(this).closest('tr').find('input[name="FromPeriod"]').val(fDate);
        $(this).closest('tr').find('input[name="ToPeriod"]').val(tDate);
    });

    function GetPerioddays(Periodtype, weeks) {
        var today = new Date();
        var year = today.getFullYear();
        var week = weeks;

        var fromd = '';
        var TOd = '';
        var fromDate = '';
        var toDate = '';

        if (Periodtype == 1) {
            var days = getDays(year, week);
            fromd = days[0];
            TOd = days[6];
        } else if (Periodtype == 2) {
            var my_date = new Date(year, week - 1);
            fromd = new Date(my_date.getFullYear(), my_date.getMonth(), 1);
            TOd = new Date(my_date.getFullYear(), my_date.getMonth() + 1, 0);
        } else if (Periodtype == 3) {
            if (week == 1) {
                fromd = new Date(year, 0, 1);
                TOd = new Date(year, 2, 31);

            } else if (week == 2) {
                fromd = new Date(year, 3, 1);
                TOd = new Date(year, 5, 30);
            } else if (week == 3) {
                fromd = new Date(year, 6, 1);
                TOd = new Date(year, 8, 30);
            } else {
                fromd = new Date(year, 9, 1);
                TOd = new Date(year, 11, 31);
            }
        } else if (Periodtype == 4) {
            if (week == 1) {
                fromd = new Date(year, 0, 1);
                TOd = new Date(year, 5, 30);

            } else {
                fromd = new Date(year, 6, 1);
                TOd = new Date(year, 11, 31);
            }

        } else {
            fromd = new Date(year, 0, 1);
            TOd = new Date(year, 11, 31);
            //(Periodtype == 5)
        }
        fromDate = fromd.toISOString().substr(0, 10);
        toDate = TOd.toISOString().substr(0, 10);

        return [fromDate, toDate];
    }

    $(document).ready(function () {
        loaddate();
        GetBudgetRecord($('#FromPeriod').val(), $('#ToPeriod').val());
        
    });

    function loaddate() {
        debugger
        var today = new Date();
        var year = today.getFullYear();
        var month = today.getMonth();
        var my_date = new Date(year, month);

        var fromd = '';
        var TOd = '';
        var fromDate = '';
        var toDate = '';

        fromd = new Date(my_date.getFullYear(), my_date.getMonth(), 1);
        TOd = new Date(my_date.getFullYear(), my_date.getMonth() + 1, 0);

        fromDate = fromd.toISOString().substr(0, 10);
        toDate = TOd.toISOString().substr(0, 10);

        document.querySelector("#FromPeriod").value = fromDate;
        document.querySelector("#ToPeriod").value = toDate;

    }

    function GetBudgetRecord(fromdt, Todt) {

        var Fromdate = fromdt;
        var Todate = Todt;
         $.ajax({
            type: "POST",
            url: '@Url.Action("GetNextbudget", "Budget")',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            processData: false,
            data: JSON.stringify({ FDt: Fromdate, ToDt: Todate }),
            error: function (e) {
                alert("Error");
            },
             success: function (response) {
                 debugger
                 var trHTML = '';
                 var data = response;
                 $("#budgettbl td").parent().remove();
                for (var i = 0; i < data.length; i++) {
                     var checked = '';
                     var j = i + 1; 
                    var periodtype = ddlgetpriodtype(data[i].PeriodType);
                    
                     if (data[i].Recurring) {
                         checked = 'checked = "checked"' + ' value = "' + data[i].Recurring ;
                     } else {
                         checked = 'value ="' + data[i].Recurring;
                     }
                     trHTML +=
                       '<tr id="' + j + '" role="row">' +
                         '<td class="checkbox"><input type="checkbox" /></td>' +
                         '<td hidden><input name="Id" id="id ' + j + '" type="hidden" value="' + data[i].Id + '" /></td>' +
                         '<td><input type="text" name="salesrapname" id="salesrapname ' + j + '" value="' + data[i].SalesRepName + '" disabled style="border:none" /></td>' +
                         '<td><select id="ddlperiodtype ' + j + '" style="border:none" class="ddlperiodtype" disabled = "" name="ddlperiodtype" data-val="true">' + periodtype + ' </select></td>' +
                         '<td><input type="text" disabled name="budgetamount" type="number" id="budgetamount ' + j + '" value="' + data[i].BudAmount + '" style="border:none" /></td>' +
                         '<td><input name="FromPeriod" disabled id="FromPeriod ' + j  + '" type="date" value="' + data[i].FromPeriod.substr(0, 10) + '" style="border:none"></td>' +
                         '<td><input name="ToPeriod" disabled id="ToPeriod ' + j + '" type="date" value="' + data[i].ToPeriod.substr(0,10) + '" style="border:none"></td>' +
                         '<td><select id="weeks ' + j + '" class="week" disabled value="' + data[i].PeriodRange + '" style="border:none" name="week"></select></td>' +
                         '<td><input id="chkrecurring ' + j + '" disabled name="Recurring" type="checkbox" ' + checked + '" style="border:none"></td>' +
                         '<td><button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button></td>' +
                       '</tr>';
                 };
                 $('#budgettbl tbody').append(trHTML);
             }
         })

    }

    function ddlgetpriodtype(type) {
        debugger
        var option = '';
        /*'selected = "selected"'; */

        option += '<option value="' + 0 + '">' + "- Select - " + '</option>';
        option += '<option value="' + 1 + '">' + "Weekly" + '</option>';
        option += '<option value="' + 2 + '">' + "Monthly" + '</option>';
        option += '<option value="' + 3 + '">' + "Quarterly" + '</option>';
        option += '<option value="' + 4 + '">' + "Half Yearly" + '</option>';
        option += '<option value="' + 5 + '">' + "Yearly" + '</option>';
        option += '<option value="' + 6 + '">' + "Custom Period" + '</option>';

        option = option.replace('value="' + type + '"', 'selected="selected" value="' + type + '"');

        return option;

    }

    function Getweekno(dt) {
            var tdt = new Date(dt.valueOf());
            var dayn = (dt.getDay() + 6) % 7;
            tdt.setDate(tdt.getDate() - dayn + 3);
            var firstThursday = tdt.valueOf();
            tdt.setMonth(0, 1);
            if (tdt.getDay() !== 4) {
                tdt.setMonth(0, 1 + ((4 - tdt.getDay()) + 7) % 7);
            }
            return 1 + Math.ceil((firstThursday - tdt) / 604800000);
        }

    function getDays(year, week) {
            var j10 = new Date(year, 0, 10, 12, 0, 0),
                j4 = new Date(year, 0, 4, 12, 0, 0),
                mon = j4.getTime() - j10.getDay() * 86400000,
                result = [];
            for (var i = -1; i < 6; i++) {
                result.push(new Date(mon + ((week - 1) * 7 + i) * 86400000));
            }
            return result;
        }

    function getWeekNumber(d) {
            d = new Date(+d);
            d.setHours(0, 0, 0, 0);
            d.setDate(d.getDate() + 4 - (d.getDay() || 7));
            var yearStart = new Date(d.getFullYear(), 0, 1);
            var weekNo = Math.ceil((((d - yearStart) / 86400000) + 1) / 7)
            return [d.getFullYear(), weekNo];
        }

    function weeksInYear(year) {
            var d = new Date(year, 11, 31);
            var week = getWeekNumber(d)[1];
            return week == 1 ? 52 : week;
        }

</script>



