﻿@model Budget

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="callout callout-info">
                    <h5><i class="fas fa-info"></i> Note:</h5>
                    This page has been enhanced for display view for sales Rep information.
                </div>

                <!-- Main content -->
                <div class="invoice p-3 mb-3">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            @*<h4>
                                <i class="fas fa-globe"></i> @Model.SalesRepName
                                <small class="float-right">Date: @Html.DisplayFor(item => item.FromPeriod)</small>
                            </h4>*@
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            <b>Sale Rep # @Model.SalesRepName</b><br>
                            <br>
                            <b>Amount:</b> @Model.BudAmount<br>
                            <b>Balance Amount:</b> @Model.BalAmount<br>
                            <b>Period Type:</b> @Html.DisplayFor(item => item.PeriodTypeName)<br>
                            <b>From :</b> @Html.DisplayFor(item => item.FromPeriod)<br>
                            <b>To :</b> @Html.DisplayFor(item => item.ToPeriod)<br>
                            @if (Model.Recurring == true)
                            {
                        <b>Recuring: Yes</b><br> }
                                    else
                                    { <b>Recuring: No</b><br>}
                            <br />
                        </div>
                    </div>
                    <div class="row" id="hiderow">
                        <div class="col-12 table-responsive">
                            <h3>Products Details</h3>
                            <table class="table table-striped" id="producttbl">
                                <thead>
                                    <tr>

                                        <th>Product</th>
                                        <th>Package</th>
                                        <th>Qty</th>
                                        <th>Cost</th>
                                        <th>Rebate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var lineProducts in Model.BudgetLineProducts)
                                    {
                        <tr>
                            <td>

                                @Html.DisplayFor(modelItem => lineProducts.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => lineProducts.PackageName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => lineProducts.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => lineProducts.Cost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => lineProducts.Rebate)
                            </td>


                        </tr>}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- this row will not appear when printing -->
                    <div class="row no-print">
                        <div class="col-12">
                            @*<a href="invoice-print.html" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>*@
                            <a asp-action="Index" method="post" class="btn btn-danger float-right">Close</a>
                        </div>
                    </div>
                </div>
                <!-- /.invoice -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

<script>

    $(document).ready(function () {
        var len = $('#producttbl tr');
        if (len.length > 1) {
            $('#producttbl').show();
            $('#hiderow').show();
        } else {
            $('#producttbl').hide();
            $('#hiderow').hide();
        }

    });
</script>